## House Prices Data


The data are 1905 observation about 38 variables on housing features.

Here is the link where the data was loaded:
<https://www.kaggle.com/datasets/dataregress/dubai-properties-dataset?resource=download>



The variables of our interest are the following:

-   id : identificator

-   neighborhood: the name of the neighborhood

-   latitude: the latitude of the house

-   longitude: the longitude of the house

-   price: the market price of the house

-   size_in_sqft: the size of the house in square foot

    -   1 sqft = 0.092903 $m^2$

-   price_per_sqft: the market price of the house per square foot

-   no_of_bedrooms: number of bedrooms in the house

-   no_of_bathrooms: number of bathrooms in the house

-   quality: quality of the house. Based on the number of services. Her
    categories are Ultra, High, Medium and Low

-   maid_room: indicates if the house has maid room (cuarto de servicio)
    (true/false)

-   unfurnished: indicates if the house is unfurnished (sin amueblar)
    (true/false)

-   balcony: indicates if the house has balcony (true/false)

-   barbecue_area: indicates if the house has barbecue area (true/false)

-   central_ac: indicates if the house has central air conditioning
    (true/false)

-   childrens_play_area: indicatees if the house has childrens game area
    (true/false)

-   childrens_pool: indicates if the house has childrens pool
    (true/false)

-   concierge: indicates if the house has concierge (true/false)

-   covered_parking: indicates if the house has covered parking
    (true/false)

-   kitchen_appliances: indicates if the house has kitchen appliances
    (electrodomesticos de cocina) (true/false)

-   maid_service: indicates if the house has maid service (servicio de
    limpieza) (true/false)

-   pets_allowed: indicates if pets are allowed(true/false)

-   private_garden: indicates if the house has private garden
    (true/false)

-   private_gym: indicates if the house has private gym (true/false)

-   private_jacuzzi: indicates if the house has private jacuzzi
    (true/false)

-   private_pool: indicates if the house has private pool (true/false)

-   security: indicates if the house has private secutity (true/false)

-   shared_gym: indicates if the house has shared gym (true/false)

-   shared_pool: indicates if the house has shared pool (true/false)

-   shared_spa: indicates if the house has shared spa (true/false)

-   view_of_water: indicates if the house has view of the water
    (true/false)

In [2]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/FabioScielzoOrtiz/Estadistica4all-blog/main/Linear%20Regression%20in%20Python%20and%20R/properties_data.csv'

House_Price_Regression = pd.read_csv(url)

In [4]:
House_Price_Regression.head()

,id,neighborhood,latitude,longitude,price,size_in_sqft,price_per_sqft,no_of_bedrooms,no_of_bathrooms,quality,...,private_pool,security,shared_gym,shared_pool,shared_spa,study,vastu_compliant,view_of_landmark,view_of_water,walk_in_closet
0,5528049,Palm Jumeirah,25.113208,55.138932,2700000,1079,2502.32,1,2,Medium,...,False,False,True,False,False,False,False,False,True,False
1,6008529,Palm Jumeirah,25.106809,55.151201,2850000,1582,1801.52,2,2,Medium,...,False,False,True,True,False,False,False,False,True,False
2,6034542,Jumeirah Lake Towers,25.063302,55.137728,1150000,1951,589.44,3,5,Medium,...,False,True,True,True,False,False,False,True,True,True
3,6326063,Culture Village,25.227295,55.341761,2850000,2020,1410.89,2,3,Low,...,False,False,False,False,False,False,False,False,False,False
4,6356778,Palm Jumeirah,25.114275,55.139764,1729200,507,3410.65,0,1,Medium,...,False,True,True,True,True,False,False,True,True,False

In [5]:
House_Price_Regression['size_in_m_2'] = 0.092903*House_Price_Regression['size_in_sqft']
House_Price_Regression['price_per_m_2'] = House_Price_Regression['price_per_sqft']/0.092903

In [6]:
House_Price_Regression.columns

Index(['id', 'neighborhood', 'latitude', 'longitude', 'price', 'size_in_sqft',
       'price_per_sqft', 'no_of_bedrooms', 'no_of_bathrooms', 'quality',
       'maid_room', 'unfurnished', 'balcony', 'barbecue_area',
       'built_in_wardrobes', 'central_ac', 'childrens_play_area',
       'childrens_pool', 'concierge', 'covered_parking', 'kitchen_appliances',
       'lobby_in_building', 'maid_service', 'networked', 'pets_allowed',
       'private_garden', 'private_gym', 'private_jacuzzi', 'private_pool',
       'security', 'shared_gym', 'shared_pool', 'shared_spa', 'study',
       'vastu_compliant', 'view_of_landmark', 'view_of_water',
       'walk_in_closet', 'size_in_m_2', 'price_per_m_2'],
      dtype='object')

In [7]:
House_Price_Regression = House_Price_Regression.loc[: , ['neighborhood', 'latitude', 'longitude', 'price', 
        'no_of_bedrooms', 'no_of_bathrooms', 'quality',
       'maid_room', 'unfurnished', 'balcony', 'barbecue_area',
        'central_ac', 'childrens_play_area',
       'childrens_pool', 'concierge', 'covered_parking', 'kitchen_appliances',
        'maid_service',  'pets_allowed',
       'private_garden', 'private_gym', 'private_jacuzzi', 'private_pool',
       'security', 'shared_gym', 'shared_pool', 'shared_spa', 'view_of_water',
       'walk_in_closet', 'size_in_m_2' ]]

In [8]:
House_Price_Regression.dtypes

neighborhood            object
latitude               float64
longitude              float64
price                    int64
no_of_bedrooms           int64
no_of_bathrooms          int64
quality                 object
maid_room                 bool
unfurnished               bool
balcony                   bool
barbecue_area             bool
built_in_wardrobes        bool
central_ac                bool
childrens_play_area       bool
childrens_pool            bool
concierge                 bool
covered_parking           bool
kitchen_appliances        bool
lobby_in_building         bool
maid_service              bool
networked                 bool
pets_allowed              bool
private_garden            bool
private_gym               bool
private_jacuzzi           bool
private_pool              bool
security                  bool
shared_gym                bool
shared_pool               bool
shared_spa                bool
study                     bool
vastu_compliant           bool
view_of_landmark          bool
view_of_water             bool
walk_in_closet            bool
size_in_m_2            float64
dtype: object

### Recoding the categorical variables to the standard encoding (0,1,2,3,...)

To recode the categorical variables to the standard encoding we will use sklearn.preprocessing

This tool recode recode the categorical variables to the standard encoding using an alphabetical order. So the category recode as 0 will be the category such that it's first letter is greater (or equal) than the rest following the alphabetical order.

So if we have a categorical variable $X_j$ such that $Range(X_j) = \lbrace low , medium , high \rbrace $ , then sklearn.preprocessing encode $high = 0$ , $low = 1$ , $medium = 2$ , because following the alphabet order we have $h > l > m$

In [11]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

**neighborhood**

In [13]:
House_Price_Regression['neighborhood_recode'] = ord_enc.fit_transform(House_Price_Regression[['neighborhood']])

In [24]:
House_Price_Regression.loc[ 1:20 , ['neighborhood','neighborhood_recode']]

            neighborhood  neighborhood_recode
1          Palm Jumeirah                 46.0
2   Jumeirah Lake Towers                 36.0
3        Culture Village                 11.0
4          Palm Jumeirah                 46.0
5          Palm Jumeirah                 46.0
6          Palm Jumeirah                 46.0
7          Palm Jumeirah                 46.0
8          Palm Jumeirah                 46.0
9         Downtown Dubai                 15.0
10        Downtown Dubai                 15.0
11          Dubai Marina                 22.0
12          Dubai Marina                 22.0
13         Palm Jumeirah                 46.0
14         Palm Jumeirah                 46.0
15         Palm Jumeirah                 46.0
16         Palm Jumeirah                 46.0
17        Downtown Dubai                 15.0
18        Downtown Dubai                 15.0
19          Business Bay                  9.0
20          Dubai Marina                 22.0

**quality**

In [25]:
House_Price_Regression['quality_recode'] = ord_enc.fit_transform(House_Price_Regression[['quality']])

In [30]:
House_Price_Regression.loc[ 1:50 , ['quality','quality_recode']]

   quality  quality_recode
1   Medium             2.0
2   Medium             2.0
3      Low             1.0
4   Medium             2.0
5   Medium             2.0
6     High             0.0
7   Medium             2.0
8      Low             1.0
9   Medium             2.0
10     Low             1.0
11     Low             1.0
12     Low             1.0
13  Medium             2.0
14  Medium             2.0
15  Medium             2.0
16  Medium             2.0
17  Medium             2.0
18  Medium             2.0
19  Medium             2.0
20  Medium             2.0
21     Low             1.0
22  Medium             2.0
23     Low             1.0
24  Medium             2.0
25  Medium             2.0
26  Medium             2.0
27  Medium             2.0
28     Low             1.0
29     Low             1.0
30  Medium             2.0
31     Low             1.0
32  Medium             2.0
33  Medium             2.0
34    High             0.0
35    High             0.0
36     Low             1.0
37     Low             1.0
38  Medium             2.0
39     Low             1.0
40  Medium             2.0
41     Low             1.0
42     Low             1.0
43     Low             1.0
44  Medium             2.0
45  Medium             2.0
46     Low             1.0
47  Medium             2.0
48     Low             1.0
49  Medium             2.0
50  Medium             2.0

We are going to do the same with the rest categorical variables :

In [ ]:
House_Price_Regression['maid_room_recode'] = ord_enc.fit_transform(House_Price_Regression[['maid_room']])
House_Price_Regression['unfurnished_recode'] = ord_enc.fit_transform(House_Price_Regression[['unfurnished']])
House_Price_Regression['balcony_recode'] = ord_enc.fit_transform(House_Price_Regression[['balcony']])
House_Price_Regression['barbecue_area_recode'] = ord_enc.fit_transform(House_Price_Regression[['barbecue_area']])
House_Price_Regression['central_ac_recode'] = ord_enc.fit_transform(House_Price_Regression[['central_ac']])
House_Price_Regression['childrens_play_area_recode'] = ord_enc.fit_transform(House_Price_Regression[['childrens_play_area']])
House_Price_Regression['childrens_pool_recode'] = ord_enc.fit_transform(House_Price_Regression[['childrens_pool']])
House_Price_Regression['concierge_recode'] = ord_enc.fit_transform(House_Price_Regression[['concierge']])
House_Price_Regression['covered_parking_recode'] = ord_enc.fit_transform(House_Price_Regression[['covered_parking']])
House_Price_Regression['kitchen_appliances_recode'] = ord_enc.fit_transform(House_Price_Regression[['kitchen_appliances']])
House_Price_Regression['maid_service_recode'] = ord_enc.fit_transform(House_Price_Regression[['maid_service']])
House_Price_Regression['pets_allowed_recode'] = ord_enc.fit_transform(House_Price_Regression[['pets_allowed']])
House_Price_Regression['private_garden_recode'] = ord_enc.fit_transform(House_Price_Regression[['private_garden']])
House_Price_Regression['private_gym_recode'] = ord_enc.fit_transform(House_Price_Regression[['private_gym']])
House_Price_Regression['private_jacuzzi_recode'] = ord_enc.fit_transform(House_Price_Regression[['private_jacuzzi']])
House_Price_Regression['private_pool_recode'] = ord_enc.fit_transform(House_Price_Regression[['private_pool']])
House_Price_Regression['shared_gym_recode'] = ord_enc.fit_transform(House_Price_Regression[['shared_gym']])
House_Price_Regression['shared_pool_recode'] = ord_enc.fit_transform(House_Price_Regression[['shared_pool']])
House_Price_Regression['shared_spa_recode'] = ord_enc.fit_transform(House_Price_Regression[['shared_spa']])
House_Price_Regression['view_of_water_recode'] = ord_enc.fit_transform(House_Price_Regression[['view_of_water']])
House_Price_Regression['security_recode'] = ord_enc.fit_transform(House_Price_Regression[['security']])

In [35]:
House_Price_Regression = House_Price_Regression.loc[: , ['neighborhood_recode', 'latitude', 'longitude', 'price', 
        'no_of_bedrooms', 'no_of_bathrooms', 'quality_recode',
       'maid_room_recode', 'unfurnished_recode', 'balcony_recode', 'barbecue_area_recode',
       'central_ac_recode', 'childrens_play_area_recode',
       'childrens_pool_recode', 'concierge_recode', 'covered_parking_recode', 'kitchen_appliances_recode',
        'maid_service_recode',  'pets_allowed_recode',
       'private_garden_recode', 'private_gym_recode', 'private_jacuzzi_recode', 'private_pool_recode',
       'security_recode', 'shared_gym_recode', 'shared_pool_recode', 'shared_spa_recode', 
       'view_of_water_recode',
        'size_in_m_2' ]]

In [38]:
House_Price_Regression.dtypes

neighborhood_recode           float64
latitude                      float64
longitude                     float64
price                           int64
no_of_bedrooms                  int64
no_of_bathrooms                 int64
quality_recode                float64
maid_room_recode              float64
unfurnished_recode            float64
balcony_recode                float64
barbecue_area_recode          float64
central_ac_recode             float64
childrens_play_area_recode    float64
childrens_pool_recode         float64
concierge_recode              float64
covered_parking_recode        float64
kitchen_appliances_recode     float64
maid_service_recode           float64
pets_allowed_recode           float64
private_garden_recode         float64
private_gym_recode            float64
private_jacuzzi_recode        float64
private_pool_recode           float64
security_recode               float64
shared_gym_recode             float64
shared_pool_recode            float64
shared_spa_recode             float64
view_of_water_recode          float64
size_in_m_2                   float64
dtype: object

In [40]:
House_Price_Regression['neighborhood_recode'] = House_Price_Regression['neighborhood_recode'].astype('category')
House_Price_Regression['quality_recode'] = House_Price_Regression['quality_recode'].astype('category')
House_Price_Regression['maid_room_recode'] = House_Price_Regression['maid_room_recode'].astype('category')
House_Price_Regression['balcony_recode'] = House_Price_Regression['balcony_recode'].astype('category')
House_Price_Regression['barbecue_area_recode'] = House_Price_Regression['barbecue_area_recode'].astype('category')
House_Price_Regression['central_ac_recode'] = House_Price_Regression['central_ac_recode'].astype('category')
House_Price_Regression['childrens_play_area_recode'] = House_Price_Regression['childrens_play_area_recode'].astype('category')
House_Price_Regression['childrens_pool_recode'] = House_Price_Regression['childrens_pool_recode'].astype('category')
House_Price_Regression['concierge_recode'] = House_Price_Regression['concierge_recode'].astype('category')
House_Price_Regression['covered_parking_recode'] = House_Price_Regression['covered_parking_recode'].astype('category')
House_Price_Regression['kitchen_appliances_recode'] = House_Price_Regression['kitchen_appliances_recode'].astype('category')
House_Price_Regression['maid_service_recode'] = House_Price_Regression['maid_service_recode'].astype('category')
House_Price_Regression['pets_allowed_recode'] = House_Price_Regression['pets_allowed_recode'].astype('category')
House_Price_Regression['private_garden_recode'] = House_Price_Regression['private_garden_recode'].astype('category')
House_Price_Regression['private_gym_recode'] = House_Price_Regression['private_gym_recode'].astype('category')
House_Price_Regression['private_jacuzzi_recode'] = House_Price_Regression['private_jacuzzi_recode'].astype('category')
House_Price_Regression['private_pool_recode'] = House_Price_Regression['private_pool_recode'].astype('category')
House_Price_Regression['security_recode'] = House_Price_Regression['security_recode'].astype('category')
House_Price_Regression['shared_gym_recode'] = House_Price_Regression['shared_gym_recode'].astype('category')
House_Price_Regression['shared_pool_recode'] = House_Price_Regression['shared_pool_recode'].astype('category')
House_Price_Regression['shared_spa_recode'] = House_Price_Regression['shared_spa_recode'].astype('category')
House_Price_Regression['view_of_water_recode'] = House_Price_Regression['view_of_water_recode'].astype('category')

In [41]:
House_Price_Regression.dtypes

neighborhood_recode           category
latitude                       float64
longitude                      float64
price                            int64
no_of_bedrooms                   int64
no_of_bathrooms                  int64
quality_recode                category
maid_room_recode              category
unfurnished_recode             float64
balcony_recode                category
barbecue_area_recode          category
central_ac_recode             category
childrens_play_area_recode    category
childrens_pool_recode         category
concierge_recode              category
covered_parking_recode        category
kitchen_appliances_recode     category
maid_service_recode           category
pets_allowed_recode           category
private_garden_recode         category
private_gym_recode            category
private_jacuzzi_recode        category
private_pool_recode           category
security_recode               category
shared_gym_recode             category
shared_pool_recode            category
shared_spa_recode             category
view_of_water_recode          category
size_in_m_2                    float64
dtype: object

In [42]:
House_Price_Regression.head()

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821

In [ ]:
House_Price_Regression.to_csv('House_Price_Regression.csv' , index=False)