In [1]:
import pandas as pd
import numpy as np

In [2]:
Gender_classification = pd.read_csv('gender_classification.csv')

x_new = pd.Series({'long_hair': 1, 'forehead_width_cm': 4, 'forehead_height_cm': 6, 'nose_wide': 1 , 'nose_long': 1 , 'nose_long': 1 , 'lips_thin':1, 'distance_nose_to_lip_long': 1 })

Y = Gender_classification.loc[: , ['gender']]

In [3]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

Y['gender'] = ord_enc.fit_transform(Y[['gender']])

In [4]:
X = Gender_classification.loc[: , ['forehead_width_cm', 'forehead_height_cm',   # Quantitative (2)

                   'long_hair', 'nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long'     # Binary (5)
                 
                            ]]  

X

,forehead_width_cm,forehead_height_cm,long_hair,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,11.8,6.1,1,1,0,1,1
1,14.0,5.4,0,0,0,1,0
2,11.8,6.3,0,1,1,1,1
3,14.4,6.1,0,0,1,1,1
4,13.5,5.9,1,0,0,0,0
...,...,...,...,...,...,...,...
4996,13.6,5.1,1,0,0,0,0
4997,11.9,5.4,1,0,0,0,0
4998,12.9,5.7,1,0,0,0,0
4999,13.2,6.2,1,0,0,0,0
5000,15.4,5.4,1,1,1,1,1

In [99]:
X = pd.concat([X, x_new.to_frame().T], ignore_index=True)
X

,forehead_width_cm,forehead_height_cm,long_hair,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,11.8,6.1,1,1,0,1,1
1,14.0,5.4,0,0,0,1,0
2,11.8,6.3,0,1,1,1,1
3,14.4,6.1,0,0,1,1,1
4,13.5,5.9,1,0,0,0,0
...,...,...,...,...,...,...,...
4997,11.9,5.4,1,0,0,0,0
4998,12.9,5.7,1,0,0,0,0
4999,13.2,6.2,1,0,0,0,0
5000,15.4,5.4,1,1,1,1,1
5001,4.0,6.0,1,1,1,1,1

In [ ]:

distances = []

groups_knn = []

In [ ]:
def a(Binary_Data) :

            X = Binary_Data

            a = X @ X.T

            return(a)

In [ ]:
def d(Binary_Data):

            X = Binary_Data

            ones_matrix = np.ones(( X.shape[0] , X.shape[1])) 

            d = (ones_matrix - X) @ (ones_matrix - X).T

            return(d)

In [ ]:
def GowerBQ_Similarity_Python(i,j, BQ_Data_Set, p1, p2):

            X = BQ_Data_Set

   # The data matrix X have to be order in the following way:
   # The p1 first are quantitative, the following p2 are binary categorical 

##########################################################################################
            def G(k, X):

                range = X.iloc[:,k].max() - X.iloc[:,k].min() 

                return(range)

            G_vector = np.repeat(0, p1)

            for r in range(0, p1): 

                G_vector[r] = G(r, X)
##########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X.iloc[: , 0:p1]

            Binary_Data = X.iloc[: , (p1):(p1+p2)]
         
 
##########################################################################################

            numerator_part_1 = ( ones - ( (Quantitative_Data.iloc[i-1,:] - Quantitative_Data.iloc[j-1,:]).abs() / G_vector ) ).sum() 

            numerator_part_2 = a(Binary_Data).iloc[i-1,j-1] 
     
            numerator = numerator_part_1 + numerator_part_2

            denominator = p1 + (p2 - d(Binary_Data).iloc[i-1,j-1])  

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)

##########################################################################################


        def Dist_GowerBQ_Py(i, j, BQ_Data ,  p1, p2):

            Dist_Gower = np.sqrt( 1 - GowerBQ_Similarity_Python(i, j, BQ_Data , p1, p2) )

            return(Dist_Gower)

In [ ]:
for i in range(1, len(X)):

            distances.append( Dist_GowerBQ_Py( len(X), i , X, p2, p3) )

In [ ]:
distances = pd.DataFrame({'distances': distances})

    distances = distances.sort_values(by=["distances"]).reset_index(drop=False)
        
    knn = distances.iloc[0:k , :]

    for i in knn.iloc[:,0]:

        groups_knn.append(Y.iloc[i,:])

    unique, counts = np.unique(groups_knn , return_counts=True)

    unique_Y , counts_Y = np.unique(Y , return_counts=True)

    if len(unique) == len(unique_Y) :

        proportions_groups_knn = pd.DataFrame({'proportions_groups': counts/k, 'groups': unique_Y })
    
    elif len(unique) < len(unique_Y) :

        proportions_groups_knn = pd.DataFrame({'proportions_groups': counts/k, 'groups': unique })



    prediction_group = proportions_groups_knn.sort_values(by=["proportions_groups"], ascending=False).iloc[0,:]['groups']

In [60]:
KNN_classification( X.iloc[0:100,:] , Y.iloc[0:100,:]  , x_new, 5 , distance = "Gower-BQ" , p1=2, p2=5 )

x_new is classify in the group 1.0 . So KNN algorithm predict y_new = 1.0

(   proportions_groups  groups
 0                 1.0     1.0,
 None)

In [81]:
from joblib import Parallel, delayed
import multiprocessing

In [72]:
def suma(x , y):

    sum =((x+y)^(1000*(x+y)))   

    return(sum)

In [78]:
 vector = []

for x in range(0,10):

      vector.append( suma(x,15) )

In [79]:
vector

[14999, 16016, 17017, 17986, 18987, 20020, 21021, 21990, 22991, 24024]

In [82]:

n_jobs  = multiprocessing.cpu_count()

In [83]:
n_jobs

8

In [85]:

Parallel(n_jobs=n_jobs)(delayed(suma)(x, 15) for x in range(0,10))

[14999, 16016, 17017, 17986, 18987, 20020, 21021, 21990, 22991, 24024]

https://www.cienciadedatos.net/documentos/py12-paralelizar-con-python.html