### KNN for supervised classification

We have $\hspace{0.1cm} p \hspace{0.1cm}$ variables $\hspace{0.1cm} X=(X_1,...,X_p) \hspace{0.1cm}$ measurements on a $n$ size sample.

We also have a categorical response variable $\hspace{0.1cm} Y \hspace{0.1cm}$ with $\hspace{0.1cm} g \hspace{0.1cm}$  categories that indicates  the group to which each element of the sample belongs  $ ( \hspace{0.05cm} Range(Y)=\lbrace c_1 ,..., c_g \rbrace \hspace{0.05cm})$

The groups generated by $\hspace{0.1cm} Y \hspace{0.1cm}$ are denoted as $\hspace{0.1cm} \Omega_1 ,..., \Omega_g \hspace{0.15cm}$   $\hspace{0.15cm}( \hspace{0.1cm} y_i = c_r \hspace{0.15cm} \Leftrightarrow \hspace{0.15cm}$  $ i \in \Omega_r \hspace{0.1cm})$

The supervised classification problem consists in, for a new observation $\hspace{0.1cm} x_{new} = (x_{new,1},x_{new,2},...,x_{new,p}) \hspace{0.1cm}$ of the variables $X_1,...,X_p  \hspace{0.1cm}$, predict it's $\hspace{0.1cm} Y \hspace{0.1cm}$ value $\hspace{0.1cm} (y_{new})\hspace{0.1cm}$  using the information of $\hspace{0.1cm} X_1,...,X_p \hspace{0.1cm}$ and $ \hspace{0.1cm} Y$

So , the problem is to classify a new element/individual in one of the $\hspace{0.1cm} g \hspace{0.1cm}$ groups generated by $\hspace{0.1cm} Y \hspace{0.1cm}$ using the information available of $\hspace{0.1cm} X_1,...,X_p \hspace{0.1cm}$ and $Y$, and also $\hspace{0.1cm} x_{new} = (x_{new,1},x_{new,2},...,x_{new,p})$

Note that if we haven't information about $\hspace{0.1cm} Y \hspace{0.1cm}$ this would be an unsupervised classification problem.

The KNN (K-nearest neighbors) algorithm for classification have the following steps:

 $1. \hspace{0.15cm}$ Define a distance measure between the observation of the original sample respect to the variables $X_1,...,X_p$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$ $\delta$



 $2. \hspace{0.15cm}$ Compute the distances between $x_{new}$ and the initial observations $\hspace{0.1cm} \lbrace x_1,...,x_n \rbrace$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$ $\lbrace \hspace{0.1 cm}  \delta(x_{new}, x_i) \hspace{0.1 cm} / \hspace{0.1 cm}  i=1,...,n \hspace{0.1 cm}  \rbrace$

  
 $3. \hspace{0.15cm}$ Select the  $k$ nearest observation to $x_{new}$ based on $\hspace{0.05cm} \delta \hspace{0.12cm}$ $(k$ nearest neighbors of $x_{new})$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$   The set of these observation will be denote by $KNN$ 

 $4. \hspace{0.15cm}$ Compute the proportion of these observation (neighbors) that belongs to each group $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$  
 
 $\hspace{0.65cm} \Rightarrow \hspace{0.15cm}$ The proportion of $KNN$ that belongs to the group $\hspace{0.15cm} \Omega_r$ $\hspace{0.1cm}(Y=c_r)\hspace{0.1cm}$ will be denote by $\hspace{0.1 cm} f^{knn}_{r}  $


   $$ \hspace{0.1 cm} f^{knn}_{r} \hspace{0.15cm}=\hspace{0.15cm} \dfrac{ \# \hspace{0.1cm}\lbrace\hspace{0.1cm} i \in KNN \hspace{0.1cm}/\hspace{0.1cm} i \in \Omega_r \hspace{0.1cm}\rbrace  }{k} $$

$5. \hspace{0.15cm}$ Classify $\hspace{0.1cm} x_{new} \hspace{0.1cm}$ in that group such has a bigger neighbors proportion $\hspace{0.18cm} \Rightarrow \hspace{0.2cm}$ $\text{If}   \hspace{0.15cm} \underbrace{ f^{knn}_{s} \geqslant f^{knn}_{r} \hspace{0.15cm},\hspace{0.15cm} \forall r = 1,...,g  }_{\Omega_s \hspace{0.1cm}\text{is the most frequent group in}\hspace{0.1cm} KNN } $    $\hspace{0.1cm} \hspace{0.15cm}  \Rightarrow \hspace{0.15cm} x_{new} \hspace{0.1cm}$ is classify in $\hspace{0.1cm} \Omega_s$

Why KNN is a supervised classification method and not an unsupervised ?

Because in this problem we have a vector of observations of the response variable $Y$

The fact that we haven't $\hspace{0.1 cm} y_{new} \hspace{0.1 cm}$ doesn't transform it in a unsupervised problem

### Toy example:

Sample: $n=3$

Predictors:

$X1 = (10 , 2 , 4)$
$X2 = (20 , 25, 40)$

Observations:

$x_1 =(10,20)$
$x_2=(2,25)$
$x_3=(4,40)$

Response: (2 categories (0,1), then 2 groups $\Omega_0 , \Omega_1$)

$Y =( 1 , 1 , 0 )$

Distance $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$  $ \delta_{Euclidean}$

New observation:

$x_{new}=(6, 20)$

Computing the distances:

$\delta(x_{new}, x_1)_{Euclidean} = (10-6)^2 + (20-20)^2 = 16$
$\delta(x_{new}, x_2)_{Euclidean} = (2-6)^2 + (25-20)^2 = 16 + 25 = 41$
$\delta(x_{new}, x_3)_{Euclidean} = (4-6)^2 + (40-20)^2 = 4 + 400 = 404$

Selecting k=2 nearest neighbor to $x_{new}$: $x_1$ and $x_2$

Computing the proportions $f^{knn}$ : $f^{knn}_0 =  0/2 = 0$ , $f^{knn}_1 =  2/2 = 1$

So, the algorithm classify $x_{new}$ in the group $\Omega_1$ , so the algorithm predict that $\hat{y}_{new} = 1$

### Optimal k (ver Aurea)

The typical approach to select the value of $k$ is to set $k=\sqrt{n}$

A more complex approach is the following:


Tenemos x_i=(x_{i1},...,x_{ip}) y tambien y_i para i =1,...,n

Suponer que x_i es una observacion no clasificada (auqnue realmente conocemos y_i) 

Fijar un valor de k

Clasificar x_i usando KNN

Determinar si la clasificacion ha sido correcta o incorrecta (lo podemos hacer gracias a que tenemos el dato y_i)

Repetir el proceso para el resto de i=1,....,n 

Calcular la proporcion de clasificaciones correctas (proporcion de aciertos)  , esta sera la metrica de error del KNN para el hiperparametro k

Repetir el proceso para el resto de k=2,3,...

Seleccionar el valor de k que maximiza la proporcion de aciertos (minimiza la proporcion de errores)

#### KNN for classification in Python with `Sklearn`

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
Gender_classification = pd.read_csv('gender_classification.csv')

In [4]:
Gender_classification.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [5]:
import sklearn

from sklearn.neighbors import NearestNeighbors

In [6]:
X = Gender_classification.iloc[ : , 0:7]

Y = Gender_classification.iloc[ : , 7]

x_new = [1,	10, 5, 1, 0, 1,	1]

In [7]:
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=10 ,  weights='uniform', p=2, metric='minkowski')

n_neighbors = Number of neighbors to use (k)

weights:

   ‘uniform’ : uniform weights. All points in each neighborhood are weighted equally.

   ‘distance’ : weight points by the inverse of their distance. in this case, closer neighbors of a query point will have a greater influence than neighbors which are further away.

   [callable] : a user-defined function which accepts an array of distances, and returns an array of the same shape containing the weights.

metric:

  Metric to use for distance computation. Default is “minkowski”, which results in the standard Euclidean distance when p = 2. See the documentation of scipy.spatial.distance and the metrics listed in distance_metrics for valid metric values. Metrics available ‘cityblock’ , 'cosine', ‘euclidean’, 'haversine', 'l1', 'l2', 'manhattan', 'nan_euclidean'.



  If metric is “precomputed”, X is assumed to be a distance matrix and must be square during fit.

In [8]:
knn.fit(X, Y)

print( knn.predict( [x_new] ) )
 
print( knn.predict_proba([x_new]) )

['Male']
[[0.2 0.8]]

With other distances:

In [9]:
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=10 ,  weights='uniform',  metric='cityblock')

In [10]:
knn.fit(X, Y)

print( knn.predict( [x_new] ) )
 
print( knn.predict_proba([x_new]) )

['Male']
[[0.1 0.9]]

In [11]:
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=10 ,  weights='uniform', metric='cosine')

In [12]:
knn.fit(X, Y)

print( knn.predict( [x_new] ) ) 

print( knn.predict_proba([x_new]) )

['Male']
[[0. 1.]]

In [13]:
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=10 ,  weights='uniform', metric='nan_euclidean')

In [14]:
knn.fit(X, Y)

print( knn.predict( [x_new] ) ) 

print( knn.predict_proba([x_new]) )

['Male']
[[0.2 0.8]]

In [15]:
knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=10 ,  weights='uniform', metric='manhattan')

In [16]:
knn.fit(X, Y)

print( knn.predict( [x_new] ) ) 

print( knn.predict_proba([x_new]) )

['Male']
[[0.1 0.9]]

#### KNN for classification in Python with own algorithm

Our algorithm for not depend on sklearn

In [17]:
import numpy as np

In [18]:
def KNN_classification( X , Y , x_new, k, distance = "Minkowski" , q = 0, p1=0, p2=0, p3=0 ):

####################################################################################################################################################################################################################################################

    # Y tiene que ser una variable categorica con categorias estandar (0,1,2,...)

    # Ejemplo de Y :  Y = Gender_classification.iloc[0:20 , 7]

    # Ejemplo de como codificar Y en categorias estandar (si ya esta en el formato estandar indicado no hace falta):
      
      # for i in range(0, len(Y)):
          # if Y[i]=='Male':
          #   Y[i] = 0
          # elif Y[i]=='Female':
          #   Y[i]=1

    # X tiene que ser un panda data frame con los predictotres (X1,...,Xp). Ejemplo X = Gender_classification.iloc[0:20 , 0:7]

    # x_new tiene que ser una panda series. Ejemplo x_new = pd.Series({'long_hair': 1, 'forehead_width_cm': 4, 'forehead_height_cm': 6, 'nose_wide': 1 , 'nose_long': 1 , 'nose_long': 1 , 'lips_thin':1, 'distance_nose_to_lip_long': 1 })

####################################################################################################################################################################################################################################################

    X = pd.concat([X, x_new.to_frame().T], ignore_index=True)

    distances = []

    groups_knn = []


####################################################################################################################################################################################################################################################
    
    if distance == "Euclidean":

        def Dist_Euclidea_Python(i, j, Quantitative_Data_set): 

            Dist_Euclidea = ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] )**2 ).sum()

            Dist_Euclidea = np.sqrt(Dist_Euclidea)

            return Dist_Euclidea

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Euclidea_Python( len(X), i , X) )

    ###################################################################

    if distance == "Minkowski":

        def Dist_Minkowski_Python(i,j, q , Quantitative_Data_set):

            Dist_Minkowski = ( ( ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] ).abs() )**q ).sum() )**(1/q)

            return Dist_Minkowski

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Minkowski_Python( len(X), i , q , X) )

        

    ###################################################################

    if distance == "Canberra":

        def Dist_Canberra_Python(i,j, Quantitative_Data_set):

            Dist_Canberra =  ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] ).abs()  / ( (Quantitative_Data_set.iloc[i-1, ]).abs() + (Quantitative_Data_set.iloc[j-1, ]).abs() ) ).sum()

            return Dist_Canberra

    ###################################################################
    
        for i in range(1, len(X)):

            distances.append( Dist_Canberra_Python( len(X), i , X) )

    ###################################################################
   
    if distance == "Pearson":

        def Dist_Pearson_Python(i, j, Quantitative_Data_set):

            Dist_Pearson = ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] )**2 / Quantitative_Data_set.var() ).sum()

            Dist_Pearson = np.sqrt(Dist_Pearson)

            return Dist_Pearson

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Pearson_Python( len(X), i , X) )

    ###################################################################
    
    if distance == "Mahalanobis":

        def Dist_Mahalanobis_Python(i, j, Quantitative_Data_set):

            x = (Quantitative_Data_set.to_numpy()[i-1, ] - Quantitative_Data_set.to_numpy()[j-1, ])

            x = np.array([x]) # necessary step to transpose a 1D array

            S_inv = np.linalg.inv( Quantitative_Data_set.cov() ) # inverse of covariance matrix

            Dist_Maha = np.sqrt( x @ S_inv @ x.T )  # x @ S_inv @ x.T = np.matmul( np.matmul(x , S_inv) , x.T )

            Dist_Maha = float(Dist_Maha)

            return Dist_Maha

        
    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Mahalanobis_Python( len(X), i , X) )

       

    ###################################################################
    
    if distance == "Sokal":

        a = X @ X.T
        n = X.shape[0]
        p = X.shape[1]
        ones_matrix = np.ones((n, p))
        b = (ones_matrix - X) @ X.T
        c = b.T
        d = (ones_matrix - X) @ (ones_matrix - X).T

        def Sokal_Similarity_Py(i, j):

            Sokal_Similarity = (a.iloc[i-1,j-1] + d.iloc[i-1,j-1])/p

            return Sokal_Similarity


        def Dist_Sokal_Python(i, j, Binary_Data_set):

            dist_Sokal = np.sqrt( 2 - 2*Sokal_Similarity_Py(i,j, Binary_Data_set) )

            return dist_Sokal

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Sokal_Python( len(X), i , X) )

    ###################################################################
   
    if distance == "Jaccard":

        def Jaccard_Similarity_Py(i, j, Binary_Data_Matrix):

            X = Binary_Data_Py
            a = X @ X.T
            n = X.shape[0]
            p = X.shape[1]
            ones_matrix = np.ones((n, p)) 
            b = (ones_matrix - X) @ X.T
            c = b.T
            d = (ones_matrix - X) @ (ones_matrix - X).T

            Jaccard_Similarity = a.iloc[i-1,j-1] / (a.iloc[i-1,j-1] + b.iloc[i-1,j-1] + c.iloc[i-1,j-1])
            
            return Jaccard_Similarity


        def Dist_Jaccard_Python(i, j, Binary_Data_set):

            dist_Jaccard = np.sqrt( Jaccard_Similarity_Py(i,i, Binary_Data_set) + Jaccard_Similarity_Py(i,i, Binary_Data_set) - 2*Jaccard_Similarity_Py(i,j, Binary_Data_set) )

            return dist_Jaccard

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Jaccard_Python( len(X), i , X) )

    ###################################################################
    
    if distance == "Matches":

        def alpha_py(i,j, Multiple_Categorical_Data):

            X = Multiple_Categorical_Data
            alpha = np.repeat(0, X.shape[1])

            for k in range(0, X.shape[1]) :

                if X.iloc[i-1, k] == X.iloc[j-1, k] :

                    alpha[k] = 1

                else :

                    alpha[k] = 0

            alpha = alpha.sum()

            return(alpha)


        def matches_similarity_py(i, j, Multiple_Categorical_Data):

            p = Multiple_Categorical_Data.shape[1]

            matches_similarity = alpha_py(i,j, Multiple_Categorical_Data) / p

            return(matches_similarity)


        def Dist_Matches_Py(i,j, Multiple_Categorical_Data):

            Dist_Matches = np.sqrt( matches_similarity_py(i, i, Multiple_Categorical_Data) +  matches_similarity_py(j, j, Multiple_Categorical_Data) - 2*matches_similarity_py(i, j, Multiple_Categorical_Data) )

            return( Dist_Matches )

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Matches_Py( len(X), i , X) )

    ###################################################################
   
    if distance == "Gower":

        def Gower_Similarity_Python(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

            # The variable must to be order in the following way: 
            # the p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiclass categorical.

        #################################################################################
      
            def G(k, X):

                range = X.iloc[:,k].max() - X.iloc[:,k].min()
                
                return(range)

            G_vector = np.repeat(0, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
            
        ########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X.iloc[: , 0:p1]
            Binary_Data = X.iloc[: , (p1):(p1+p2)]
            Multiple_Categorical_Data = X.iloc[: , (p1+p2):(p1+p2+p3) ]

            a = Binary_Data @ Binary_Data.T

            ones_matrix = np.ones(( Binary_Data.shape[0] , Binary_Data.shape[1])) 
   
            d = (ones_matrix - Binary_Data) @ (ones_matrix - Binary_Data).T

        #################################################################################

            numerator_part_1 = ( ones - ( (Quantitative_Data.iloc[i,:] - Quantitative_Data.iloc[j,:]).abs() / G_vector ) ).sum() 

            numerator_part_2 = a.iloc[i,j] + alpha_py(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2

            denominator = p1 + (p2 - d.iloc[i,j]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)

        #################################################################################
        
        def Dist_Gower_Py(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_Python(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)    

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Gower_Py( len(X), i , X, p1, p2, p3) )

    ###################################################################
    
    distances = pd.DataFrame({'distances': distances})

    distances = distances.sort_values(by=["distances"]).reset_index(drop=False)
        
    knn = distances.iloc[0:k , :]

    for i in knn.iloc[:,0]:

        groups_knn.append(Y[i])

    unique, counts = np.unique(groups_knn , return_counts=True)

    unique_Y , counts_Y = np.unique(Y , return_counts=True)

    if len(unique) == len(unique_Y) :

        proportions_groups_knn = pd.DataFrame({'proportions_groups': counts/k, 'groups': unique_Y })
    
    elif len(unique) < len(unique_Y) :

        proportions_groups_knn = pd.DataFrame({'proportions_groups': counts/k, 'groups': unique })



    prediction_group = proportions_groups_knn.sort_values(by=["proportions_groups"], ascending=False).iloc[0,:]['groups']

    message = print( "x_new is classify in the group", prediction_group , ". So KNN algorithm predict y_new =",  prediction_group )                                      
                                       

    return proportions_groups_knn , message

Testing the function:

In [19]:
Gender_classification = pd.read_csv('gender_classification.csv')

X = Gender_classification.iloc[: , 0:7]

Y = Gender_classification.iloc[: , 7]

x_new = pd.Series({'long_hair': 1, 'forehead_width_cm': 4, 'forehead_height_cm': 6, 'nose_wide': 1 , 'nose_long': 1 , 'nose_long': 1 , 'lips_thin':1, 'distance_nose_to_lip_long': 1 })

for i in range(0, len(Y)):

    if Y[i]=='Male':

        Y[i] = 0

    elif Y[i]=='Female':

        Y[i]=1

In [20]:
proportions_groups_knn , message = KNN_classification( X , Y , x_new, 10 , distance = "Euclidean" )

x_new is classify in the group 0 . So KNN algorithm predict y_new = 0

In [21]:
proportions_groups_knn

   proportions_groups groups
0                 0.9      0
1                 0.1      1

In [22]:
KNN_classification( X , Y , x_new, 10 , distance = "Minkowski" , q = 2 )

x_new is classify in the group 0 . So KNN algorithm predict y_new = 0

(   proportions_groups groups
 0                 0.9      0
 1                 0.1      1,
 None)

In [23]:
KNN_classification( X , Y , x_new, 10 , distance = "Minkowski" , q = 1 )

x_new is classify in the group 0.0 . So KNN algorithm predict y_new = 0.0

(   proportions_groups  groups
 0                 1.0       0,
 None)

In [24]:
KNN_classification( X , Y , x_new, 10 , distance = "Minkowski" , q = 3 )

x_new is classify in the group 1.0 . So KNN algorithm predict y_new = 1.0

(   proportions_groups  groups
 0                 1.0       1,
 None)

In [25]:
KNN_classification( X , Y , x_new, 10 , distance = "Canberra"  )

x_new is classify in the group 0.0 . So KNN algorithm predict y_new = 0.0

(   proportions_groups  groups
 0                 1.0       0,
 None)

In [26]:
KNN_classification( X , Y , x_new, 10 , distance = "Mahalanobis"  )

x_new is classify in the group 0.0 . So KNN algorithm predict y_new = 0.0

(   proportions_groups  groups
 0                 1.0       0,
 None)

In [27]:
KNN_classification( X , Y , x_new, 10 , distance = "Pearson"  )

x_new is classify in the group 0.0 . So KNN algorithm predict y_new = 0.0

(   proportions_groups  groups
 0                 1.0       0,
 None)

En este caso no puede implementarse la distancia de Gower porque X no es una matriz de datos mixta (solo tiene cuanqitativas y binarias, faltan las multiclase).
Tampoco pueden usarse las distancias de Sokal y Jaccard porque X no es una matriz de datos binarios, ni tampoco el coeficiente de matches (coincidencias) porque X no es una matriz de datos categoricos multiclase.

### KNN for regression

We have $\hspace{0.1cm} p \hspace{0.1cm}$ variables $\hspace{0.1cm} X=(X_1,...,X_p) \hspace{0.1cm}$ measurements on a $n$ size sample.

We also have a quantitative response variable $\hspace{0.1cm} Y $

The regression problem consists in, for a new observation $\hspace{0.1cm} x_{new} = (x_{new,1},x_{new,2},...,x_{new,p}) \hspace{0.1cm}$ of the variables $X_1,...,X_p  \hspace{0.1cm}$, predict it's $\hspace{0.1cm} Y \hspace{0.05cm}$ value $\hspace{0.1cm} (y_{new})\hspace{0.1cm}$  using the information of $\hspace{0.1cm} X_1,...,X_p \hspace{0.1cm}$ and $ \hspace{0.1cm} Y$

So , the problem is to get $\hspace{0.1cm} \hat{y}_{new} \hspace{0.1cm}$  using the information available of $\hspace{0.1cm} X_1,...,X_p \hspace{0.1cm}$ , $Y$ and  $\hspace{0.1cm} x_{new} = (x_{new,1},x_{new,2},...,x_{new,p})$

The KNN (K-nearest neighbors) algorithm for regression have the following steps:

 $1. \hspace{0.15cm}$ Define a distance measure between the observation of the original sample respect to the variables $X_1,...,X_p$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$ $\delta$



 $2. \hspace{0.15cm}$ Compute the distances between $x_{new}$ and the initial observations $\hspace{0.1cm} \lbrace x_1,...,x_n \rbrace$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$ $\lbrace \hspace{0.1 cm}  \delta(x_{new}, x_i) \hspace{0.1 cm} / \hspace{0.1 cm}  i=1,...,n \hspace{0.1 cm}  \rbrace$

  
 $3. \hspace{0.15cm}$ Select the  $k$ nearest observation to $x_{new}$ based on $\hspace{0.05cm} \delta \hspace{0.12cm}$ $(k$ nearest neighbors of $x_{new})$ $\hspace{0.15cm} \Rightarrow \hspace{0.15cm}$   The set of these observation will be denote by $KNN$

$5. \hspace{0.15cm}$ The method predict $\hspace{0.1cm} y_{new} \hspace{0.1cm}$  as follows:

$$
   
 \widehat{y}_{new} =  \dfrac{1}{KNN }\cdot \sum_{i \in KNN}  y_i
  
$$

KNN for regression in Python with `Sklearn`

KNN for regression in Python with own algorithm

In [31]:
def KNN_regression( X , Y , x_new, k, distance = "Minkowski" , q = 0, p1=0, p2=0, p3=0 ):

####################################################################################################################################################################################################################################################

    # Y tiene que ser una variable cuantitativa

    # Ejemplo de Y :  

 
    # X tiene que ser un panda data frame con los predictotres (X1,...,Xp). Ejemplo de X :

    # x_new tiene que ser una panda series. Ejemplo x_new = pd.Series({'long_hair': 1, 'forehead_width_cm': 4, 'forehead_height_cm': 6, 'nose_wide': 1 , 'nose_long': 1 , 'nose_long': 1 , 'lips_thin':1, 'distance_nose_to_lip_long': 1 })

####################################################################################################################################################################################################################################################

    X = pd.concat([X, x_new.to_frame().T], ignore_index=True)

    distances = []

    Y_values_knn = []


####################################################################################################################################################################################################################################################
    
    if distance == "Euclidean":

        def Dist_Euclidea_Python(i, j, Quantitative_Data_set): 

            Dist_Euclidea = ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] )**2 ).sum()

            Dist_Euclidea = np.sqrt(Dist_Euclidea)

            return Dist_Euclidea

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Euclidea_Python( len(X), i , X) )

    ###################################################################

    if distance == "Minkowski":

        def Dist_Minkowski_Python(i,j, q , Quantitative_Data_set):

            Dist_Minkowski = ( ( ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] ).abs() )**q ).sum() )**(1/q)

            return Dist_Minkowski

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Minkowski_Python( len(X), i , q , X) )

        

    ###################################################################

    if distance == "Canberra":

        def Dist_Canberra_Python(i,j, Quantitative_Data_set):

            Dist_Canberra =  ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] ).abs()  / ( (Quantitative_Data_set.iloc[i-1, ]).abs() + (Quantitative_Data_set.iloc[j-1, ]).abs() ) ).sum()

            return Dist_Canberra

    ###################################################################
    
        for i in range(1, len(X)):

            distances.append( Dist_Canberra_Python( len(X), i , X) )

    ###################################################################
   
    if distance == "Pearson":

        def Dist_Pearson_Python(i, j, Quantitative_Data_set):

            Dist_Pearson = ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] )**2 / Quantitative_Data_set.var() ).sum()

            Dist_Pearson = np.sqrt(Dist_Pearson)

            return Dist_Pearson

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Pearson_Python( len(X), i , X) )

    ###################################################################
    
    if distance == "Mahalanobis":

        def Dist_Mahalanobis_Python(i, j, Quantitative_Data_set):

            x = (Quantitative_Data_set.to_numpy()[i-1, ] - Quantitative_Data_set.to_numpy()[j-1, ])

            x = np.array([x]) # necessary step to transpose a 1D array

            S_inv = np.linalg.inv( Quantitative_Data_set.cov() ) # inverse of covariance matrix

            Dist_Maha = np.sqrt( x @ S_inv @ x.T )  # x @ S_inv @ x.T = np.matmul( np.matmul(x , S_inv) , x.T )

            Dist_Maha = float(Dist_Maha)

            return Dist_Maha

        
    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Mahalanobis_Python( len(X), i , X) )

       
    ###################################################################
    
    if distance == "Sokal":

        a = X @ X.T
        n = X.shape[0]
        p = X.shape[1]
        ones_matrix = np.ones((n, p))
        b = (ones_matrix - X) @ X.T
        c = b.T
        d = (ones_matrix - X) @ (ones_matrix - X).T

        def Sokal_Similarity_Py(i, j):

            Sokal_Similarity = (a.iloc[i-1,j-1] + d.iloc[i-1,j-1])/p

            return Sokal_Similarity


        def Dist_Sokal_Python(i, j, Binary_Data_set):

            dist_Sokal = np.sqrt( 2 - 2*Sokal_Similarity_Py(i,j, Binary_Data_set) )

            return dist_Sokal

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Sokal_Python( len(X), i , X) )

    ###################################################################
   
    if distance == "Jaccard":

        def Jaccard_Similarity_Py(i, j, Binary_Data_Matrix):

            X = Binary_Data_Py
            a = X @ X.T
            n = X.shape[0]
            p = X.shape[1]
            ones_matrix = np.ones((n, p)) 
            b = (ones_matrix - X) @ X.T
            c = b.T
            d = (ones_matrix - X) @ (ones_matrix - X).T

            Jaccard_Similarity = a.iloc[i-1,j-1] / (a.iloc[i-1,j-1] + b.iloc[i-1,j-1] + c.iloc[i-1,j-1])
            
            return Jaccard_Similarity


        def Dist_Jaccard_Python(i, j, Binary_Data_set):

            dist_Jaccard = np.sqrt( Jaccard_Similarity_Py(i,i, Binary_Data_set) + Jaccard_Similarity_Py(i,i, Binary_Data_set) - 2*Jaccard_Similarity_Py(i,j, Binary_Data_set) )

            return dist_Jaccard

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Jaccard_Python( len(X), i , X) )

    ###################################################################
    
    if distance == "Matches":

        def alpha_py(i,j, Multiple_Categorical_Data):

            X = Multiple_Categorical_Data
            alpha = np.repeat(0, X.shape[1])

            for k in range(0, X.shape[1]) :

                if X.iloc[i-1, k] == X.iloc[j-1, k] :

                    alpha[k] = 1

                else :

                    alpha[k] = 0

            alpha = alpha.sum()

            return(alpha)


        def matches_similarity_py(i, j, Multiple_Categorical_Data):

            p = Multiple_Categorical_Data.shape[1]

            matches_similarity = alpha_py(i,j, Multiple_Categorical_Data) / p

            return(matches_similarity)


        def Dist_Matches_Py(i,j, Multiple_Categorical_Data):

            Dist_Matches = np.sqrt( matches_similarity_py(i, i, Multiple_Categorical_Data) +  matches_similarity_py(j, j, Multiple_Categorical_Data) - 2*matches_similarity_py(i, j, Multiple_Categorical_Data) )

            return( Dist_Matches )

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Matches_Py( len(X), i , X) )

    ###################################################################
   
    if distance == "Gower":

        def Gower_Similarity_Python(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

            # The variable must to be order in the following way: 
            # the p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiclass categorical.

        #################################################################################
      
            def G(k, X):

                range = X.iloc[:,k].max() - X.iloc[:,k].min()
                
                return(range)

            G_vector = np.repeat(0, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
            
        ########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X.iloc[: , 0:p1]
            Binary_Data = X.iloc[: , (p1):(p1+p2)]
            Multiple_Categorical_Data = X.iloc[: , (p1+p2):(p1+p2+p3) ]

            a = Binary_Data @ Binary_Data.T

            ones_matrix = np.ones(( Binary_Data.shape[0] , Binary_Data.shape[1])) 
   
            d = (ones_matrix - Binary_Data) @ (ones_matrix - Binary_Data).T

        #################################################################################

            numerator_part_1 = ( ones - ( (Quantitative_Data.iloc[i,:] - Quantitative_Data.iloc[j,:]).abs() / G_vector ) ).sum() 

            numerator_part_2 = a.iloc[i,j] + alpha_py(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2

            denominator = p1 + (p2 - d.iloc[i,j]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)

        #################################################################################
        
        def Dist_Gower_Py(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_Python(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)    

    ###################################################################

        for i in range(1, len(X)):

            distances.append( Dist_Gower_Py( len(X), i , X, p1, p2, p3) )

    ######################################################################################################################################
    
    distances = pd.DataFrame({'distances': distances})

    distances = distances.sort_values(by=["distances"]).reset_index(drop=False)
        
    knn = distances.iloc[0:k , :]

    for i in knn.iloc[:,0]:

        Y_values_knn.append(Y[i])


    prediction = sum(Y_values_knn)/k

    message = print( "KNN algorithm predict y_new =",  prediction )                                      
                                       

    return prediction , message

Testing the KNN_regression function:

In [62]:
Gender_classification = pd.read_csv('gender_classification.csv')

for i in range(0, len(Gender_classification)):

    if Gender_classification['gender'][i] == 'Male':

        Gender_classification['gender'][i] = 0

    elif Gender_classification['gender'][i] == 'Female':

        Gender_classification['gender'][i] = 1

X = Gender_classification.loc[ : , ['long_hair', 'forehead_height_cm', 'nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender']]

Y = Gender_classification.loc[: , ['forehead_width_cm']]  # forehead_width_cm will be our response in this case, because is quantitative (and  we are now in a regression problem)

x_new = pd.Series({'long_hair': 1, 'forehead_height_cm': 6, 'nose_wide': 1 , 'nose_long': 1 , 'nose_long': 1 , 'lips_thin':1, 'distance_nose_to_lip_long': 1 , 'gender': 0})

In [54]:
X

,long_hair,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,6.1,1,0,1,1,0
1,0,5.4,0,0,1,0,1
2,0,6.3,1,1,1,1,0
3,0,6.1,0,1,1,1,0
4,1,5.9,0,0,0,0,1
...,...,...,...,...,...,...,...
4996,1,5.1,0,0,0,0,1
4997,1,5.4,0,0,0,0,1
4998,1,5.7,0,0,0,0,1
4999,1,6.2,0,0,0,0,1
5000,1,5.4,1,1,1,1,0

In [63]:
    
    X = pd.concat([X, x_new.to_frame().T], ignore_index=True)

In [57]:
X

,long_hair,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,6.1,1,0,1,1,0
1,0,5.4,0,0,1,0,1
2,0,6.3,1,1,1,1,0
3,0,6.1,0,1,1,1,0
4,1,5.9,0,0,0,0,1
...,...,...,...,...,...,...,...
4997,1,5.4,0,0,0,0,1
4998,1,5.7,0,0,0,0,1
4999,1,6.2,0,0,0,0,1
5000,1,5.4,1,1,1,1,0
5001,1,6.0,1,1,1,1,1

In [64]:

    distances = []

    Y_values_knn = []

In [59]:
def Dist_Minkowski_Python(i,j, q , Quantitative_Data_set):

    Dist_Minkowski = ( ( ( ( Quantitative_Data_set.iloc[i-1, ] - Quantitative_Data_set.iloc[j-1, ] ).abs() )**q ).sum() )**(1/q)

    return Dist_Minkowski

In [65]:
for i in range(1, len(X)):

    distances.append( Dist_Minkowski_Python( len(X), i , 2 , X) )

In [72]:
len(X)

5002

In [73]:
X

,long_hair,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,6.1,1,0,1,1,0
1,0,5.4,0,0,1,0,1
2,0,6.3,1,1,1,1,0
3,0,6.1,0,1,1,1,0
4,1,5.9,0,0,0,0,1
...,...,...,...,...,...,...,...
4997,1,5.4,0,0,0,0,1
4998,1,5.7,0,0,0,0,1
4999,1,6.2,0,0,0,0,1
5000,1,5.4,1,1,1,1,0
5001,1,6.0,1,1,1,1,0

In [66]:
distances

[1.004987562112089,
 2.315167380558045,
 1.0440306508910548,
 1.4177446878757824,
 2.238302928559939,
 0.7999999999999998,
 1.019803902718557,
 2.5768197453450252,
 1.5362291495737215,
 2.315167380558045,
 1.16619037896906,
 0.20000000000000018,
 1.2806248474865696,
 1.2206555615733703,
 2.29128784747792,
 1.2806248474865696,
 0.0,
 2.238302928559939,
 2.3748684174075834,
 1.077032961426901,
 0.2999999999999998,
 1.0,
 1.7776388834631178,
 1.4142135623730951,
 2.5475478405713994,
 2.2561028345356955,
 2.244994432064365,
 2.3748684174075834,
 1.0440306508910548,
 0.2999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 2.118962010041709,
 2.0,
 1.16619037896906,
 0.09999999999999964,
 2.23606797749979,
 2.193171219946131,
 2.5768197453450252,
 1.0440306508910548,
 2.238302928559939,
 0.7999999999999998,
 0.09999999999999964,
 2.244994432064365,
 1.0440306508910548,
 0.7999999999999998,
 2.4103941586387903,
 1.57797338380595,
 1.7578395831246945,
 2.0615528128088303,
 1.16619037896906,
 2.039607805437114,
 2.3430749027719964,
 2.3430749027719964,
 0.7000000000000002,
 1.7776388834631178,
 1.3453624047073711,
 0.0,
 1.5362291495737215,
 2.238302928559939,
 2.0615528128088303,
 1.019803902718557,
 1.8330302779823358,
 1.077032961426901,
 2.29128784747792,
 1.9519221295943137,
 2.244994432064365,
 2.009975124224178,
 2.009975124224178,
 2.0223748416156684,
 2.238302928559939,
 0.0,
 0.20000000000000018,
 1.9078784028338913,
 1.8027756377319946,
 2.23606797749979,
 2.3748684174075834,
 1.004987562112089,
 0.0,
 1.4866068747318502,
 2.29128784747792,
 2.4515301344262523,
 0.7000000000000002,
 2.193171219946131,
 2.193171219946131,
 1.077032961426901,
 0.0,
 2.238302928559939,
 1.4177446878757824,
 1.019803902718557,
 2.039607805437114,
 2.4103941586387903,
 0.09999999999999964,
 2.521904042583698,
 1.118033988749895,
 1.2806248474865696,
 0.20000000000000018,
 0.7999999999999998,
 2.4819347291981715,
 2.4515301344262523,
 1.077032961426901,
 1.16619037896906,
 0.2999999999999998,
 1.0440306508910548,
 0.5,
 1.118033988749895,
 1.8027756377319946,
 0.7000000000000002,
 0.09999999999999964,
 2.0615528128088303,
 1.2206555615733703,
 2.009975124224178,
 1.16619037896906,
 1.2206555615733703,
 2.315167380558045,
 2.0024984394500787,
 2.039607805437114,
 2.238302928559939,
 0.7000000000000002,
 0.9000000000000004,
 1.7578395831246945,
 2.0880613017821097,
 2.3748684174075834,
 1.0999999999999996,
 1.469693845669907,
 2.23606797749979,
 0.20000000000000018,
 0.20000000000000018,
 2.29128784747792,
 2.0880613017821097,
 0.7999999999999998,
 2.009975124224178,
 1.16619037896906,
 2.238302928559939,
 1.7578395831246945,
 2.3430749027719964,
 1.118033988749895,
 1.9078784028338913,
 0.09999999999999964,
 1.077032961426901,
 2.29128784747792,
 0.20000000000000018,
 1.7320508075688772,
 2.2715633383201093,
 0.5,
 2.2561028345356955,
 0.9000000000000004,
 0.7999999999999998,
 2.0223748416156684,
 0.5999999999999996,
 1.2806248474865696,
 2.29128784747792,
 0.40000000000000036,
 1.624807680927192,
 2.2715633383201093,
 2.244994432064365,
 0.09999999999999964,
 2.29128784747792,
 1.118033988749895,
 1.004987562112089,
 2.4576411454889016,
 0.5999999999999996,
 0.7999999999999998,
 1.4866068747318502,
 0.20000000000000018,
 2.244994432064365,
 0.2999999999999998,
 0.5999999999999996,
 2.23606797749979,
 0.5999999999999996,
 2.315167380558045,
 2.315167380558045,
 1.004987562112089,
 1.7916472867168916,
 2.238302928559939,
 0.2999999999999998,
 2.2715633383201093,
 0.5,
 1.4142135623730951,
 2.2715633383201093,
 2.244994432064365,
 1.42828568570857,
 0.20000000000000018,
 2.315167380558045,
 1.0999999999999996,
 2.0,
 0.40000000000000036,
 0.09999999999999964,
 2.009975124224178,
 1.42828568570857,
 2.29128784747792,
 1.7776388834631178,
 0.20000000000000018,
 2.244994432064365,
 1.5362291495737215,
 2.2715633383201093,
 0.2999999999999998,
 2.0024984394500787,
 2.3430749027719964,
 2.3430749027719964,
 0.7000000000000002,
 2.244994432064365,
 2.315167380558045,
 1.7435595774162693,
 2.2561028345356955,
 0.40000000000000036,
 0.40000000000000036,
 0.9000000000000004,
 1.9519221295943137,
 2.0615528128088303,
 2.0880613017821097,
 2.118962010041709,
 2.0615528128088303,
 1.4866068747318502,
 0.2999999999999998,
 0.7000000000000002,
 2.2561028345356955,
 2.29128784747792,
 1.2206555615733703,
 2.2561028345356955,
 2.0,
 1.2206555615733703,
 2.244994432064365,
 2.2561028345356955,
 1.469693845669907,
 1.019803902718557,
 0.7999999999999998,
 0.7000000000000002,
 2.0,
 0.5999999999999996,
 2.4103941586387903,
 1.0,
 2.009975124224178,
 2.039607805437114,
 0.40000000000000036,
 0.5999999999999996,
 0.09999999999999964,
 1.0440306508910548,
 1.077032961426901,
 2.118962010041709,
 1.0,
 1.077032961426901,
 2.009975124224178,
 1.019803902718557,
 1.3453624047073711,
 2.039607805437114,
 2.0024984394500787,
 2.3748684174075834,
 0.09999999999999964,
 1.3453624047073711,
 1.7578395831246945,
 1.42828568570857,
 0.20000000000000018,
 1.6763054614240211,
 2.2715633383201093,
 0.5999999999999996,
 2.0223748416156684,
 2.2561028345356955,
 0.09999999999999964,
 2.244994432064365,
 2.118962010041709,
 0.20000000000000018,
 1.4142135623730951,
 1.0999999999999996,
 2.2715633383201093,
 1.4142135623730951,
 1.5362291495737215,
 0.7999999999999998,
 1.0440306508910548,
 2.3430749027719964,
 1.0440306508910548,
 2.2715633383201093,
 2.0615528128088303,
 0.0,
 0.0,
 2.238302928559939,
 1.7349351572897471,
 2.0615528128088303,
 2.23606797749979,
 1.0,
 0.40000000000000036,
 2.0024984394500787,
 0.09999999999999964,
 1.8027756377319946,
 2.0223748416156684,
 2.238302928559939,
 1.077032961426901,
 0.40000000000000036,
 2.3748684174075834,
 2.118962010041709,
 0.7999999999999998,
 2.244994432064365,
 1.0,
 2.467792535850613,
 1.004987562112089,
 2.244994432064365,
 0.2999999999999998,
 1.004987562112089,
 1.5,
 1.0440306508910548,
 0.2999999999999998,
 0.5,
 1.57797338380595,
 2.039607805437114,
 1.7435595774162693,
 0.7999999999999998,
 1.0999999999999996,
 1.0999999999999996,
 1.42828568570857,
 2.4103941586387903,
 2.5768197453450252,
 2.0615528128088303,
 2.29128784747792,
 2.29128784747792,
 0.0,
 2.039607805437114,
 0.09999999999999964,
 1.004987562112089,
 2.23606797749979,
 1.7349351572897471,
 2.238302928559939,
 1.077032961426901,
 2.238302928559939,
 2.2561028345356955,
 2.29128784747792,
 2.4103941586387903,
 2.29128784747792,
 2.3430749027719964,
 2.0223748416156684,
 2.0024984394500787,
 1.118033988749895,
 0.7000000000000002,
 1.624807680927192,
 2.3748684174075834,
 1.0,
 1.42828568570857,
 1.004987562112089,
 0.7000000000000002,
 1.118033988749895,
 2.244994432064365,
 2.118962010041709,
 2.23606797749979,
 2.29128784747792,
 1.019803902718557,
 0.09999999999999964,
 2.3430749027719964,
 2.3748684174075834,
 2.29128784747792,
 0.09999999999999964,
 0.40000000000000036,
 2.0880613017821097,
 0.7000000000000002,
 2.244994432064365,
 0.40000000000000036,
 2.0,
 0.40000000000000036,
 2.4576411454889016,
 0.5999999999999996,
 2.244994432064365,
 1.0999999999999996,
 2.0024984394500787,
 1.5,
 2.29128784747792,
 2.2715633383201093,
 0.40000000000000036,
 2.193171219946131,
 0.7999999999999998,
 2.0615528128088303,
 0.7999999999999998,
 2.29128784747792,
 1.004987562112089,
 2.23606797749979,
 2.238302928559939,
 2.2715633383201093,
 2.521904042583698,
 2.23606797749979,
 0.5,
 2.0880613017821097,
 0.7999999999999998,
 1.8330302779823358,
 1.118033988749895,
 1.0440306508910548,
 2.244994432064365,
 2.0223748416156684,
 1.16619037896906,
 2.2561028345356955,
 1.16619037896906,
 1.0,
 1.3453624047073711,
 2.0615528128088303,
 1.7349351572897471,
 0.20000000000000018,
 1.0440306508910548,
 2.238302928559939,
 2.29128784747792,
 1.0440306508910548,
 0.40000000000000036,
 1.4142135623730951,
 2.29128784747792,
 2.4576411454889016,
 2.6095976701399777,
 2.315167380558045,
 1.4142135623730951,
 1.6763054614240211,
 1.4177446878757824,
 2.238302928559939,
 1.4142135623730951,
 1.019803902718557,
 2.315167380558045,
 2.039607805437114,
 0.09999999999999964,
 2.467792535850613,
 2.0024984394500787,
 2.29128784747792,
 1.7320508075688772,
 1.0999999999999996,
 1.3453624047073711,
 1.7435595774162693,
 0.40000000000000036,
 2.521904042583698,
 1.9078784028338913,
 1.004987562112089,
 2.0024984394500787,
 2.4103941586387903,
 1.16619037896906,
 0.9000000000000004,
 2.2715633383201093,
 1.0440306508910548,
 2.238302928559939,
 2.039607805437114,
 2.315167380558045,
 1.077032961426901,
 2.238302928559939,
 0.7999999999999998,
 2.4103941586387903,
 2.244994432064365,
 0.5,
 2.4103941586387903,
 1.624807680927192,
 1.8027756377319946,
 2.0024984394500787,
 0.5,
 1.2806248474865696,
 0.2999999999999998,
 2.3748684174075834,
 2.0024984394500787,
 0.2999999999999998,
 2.0024984394500787,
 2.238302928559939,
 0.20000000000000018,
 2.244994432064365,
 1.2206555615733703,
 2.2715633383201093,
 2.244994432064365,
 2.238302928559939,
 2.29128784747792,
 1.0440306508910548,
 1.4177446878757824,
 2.4576411454889016,
 0.9000000000000004,
 1.2206555615733703,
 1.118033988749895,
 2.29128784747792,
 1.6763054614240211,
 2.238302928559939,
 0.09999999999999964,
 2.29128784747792,
 0.5999999999999996,
 1.0999999999999996,
 2.0024984394500787,
 0.40000000000000036,
 0.20000000000000018,
 1.5,
 2.0615528128088303,
 2.23606797749979,
 1.004987562112089,
 0.20000000000000018,
 2.23606797749979,
 2.23606797749979,
 0.40000000000000036,
 1.019803902718557,
 1.7349351572897471,
 2.2715633383201093,
 1.8681541692269406,
 2.29128784747792,
 1.4177446878757824,
 2.29128784747792,
 0.2999999999999998,
 2.3430749027719964,
 1.077032961426901,
 1.624807680927192,
 0.09999999999999964,
 2.2715633383201093,
 1.2806248474865696,
 1.0999999999999996,
 1.019803902718557,
 2.118962010041709,
 0.7999999999999998,
 0.20000000000000018,
 2.193171219946131,
 2.244994432064365,
 0.7999999999999998,
 1.624807680927192,
 2.2561028345356955,
 1.0440306508910548,
 2.3748684174075834,
 2.2715633383201093,
 2.009975124224178,
 2.3748684174075834,
 1.3453624047073711,
 1.0440306508910548,
 2.0223748416156684,
 2.2715633383201093,
 2.2561028345356955,
 0.40000000000000036,
 2.039607805437114,
 2.29128784747792,
 2.0615528128088303,
 0.5,
 2.2561028345356955,
 2.2715633383201093,
 1.019803902718557,
 2.0223748416156684,
 1.7435595774162693,
 2.238302928559939,
 2.3430749027719964,
 2.4103941586387903,
 2.118962010041709,
 0.9000000000000004,
 2.2715633383201093,
 1.3453624047073711,
 2.4103941586387903,
 2.29128784747792,
 2.2715633383201093,
 2.2715633383201093,
 1.4142135623730951,
 0.7999999999999998,
 0.40000000000000036,
 1.16619037896906,
 2.2715633383201093,
 0.0,
 1.57797338380595,
 0.2999999999999998,
 1.5,
 1.16619037896906,
 2.2715633383201093,
 2.23606797749979,
 1.5362291495737215,
 1.118033988749895,
 1.0999999999999996,
 0.20000000000000018,
 1.9078784028338913,
 1.118033988749895,
 2.3430749027719964,
 1.2806248474865696,
 1.2806248474865696,
 0.2999999999999998,
 1.004987562112089,
 2.238302928559939,
 1.5362291495737215,
 1.469693845669907,
 2.4576411454889016,
 2.193171219946131,
 2.244994432064365,
 1.7435595774162693,
 1.624807680927192,
 1.2806248474865696,
 2.238302928559939,
 2.039607805437114,
 0.20000000000000018,
 0.7000000000000002,
 2.039607805437114,
 2.0223748416156684,
 0.7999999999999998,
 1.4142135623730951,
 2.2715633383201093,
 1.019803902718557,
 1.0,
 0.7000000000000002,
 1.4142135623730951,
 2.2715633383201093,
 2.4103941586387903,
 1.0999999999999996,
 1.5362291495737215,
 2.3748684174075834,
 2.238302928559939,
 1.42828568570857,
 2.3748684174075834,
 1.7776388834631178,
 0.7999999999999998,
 0.2999999999999998,
 2.29128784747792,
 0.09999999999999964,
 2.2715633383201093,
 0.20000000000000018,
 2.23606797749979,
 2.244994432064365,
 0.2999999999999998,
 2.29128784747792,
 2.315167380558045,
 2.0615528128088303,
 2.238302928559939,
 2.3430749027719964,
 1.2806248474865696,
 2.039607805437114,
 2.315167380558045,
 1.0440306508910548,
 0.5999999999999996,
 2.238302928559939,
 0.9000000000000004,
 1.7320508075688772,
 1.0,
 2.244994432064365,
 2.2561028345356955,
 1.0999999999999996,
 2.009975124224178,
 1.019803902718557,
 0.09999999999999964,
 1.004987562112089,
 2.2561028345356955,
 2.3748684174075834,
 1.8330302779823358,
 2.23606797749979,
 2.009975124224178,
 2.2561028345356955,
 1.004987562112089,
 0.5,
 0.9000000000000004,
 2.039607805437114,
 0.7999999999999998,
 0.40000000000000036,
 0.7000000000000002,
 2.039607805437114,
 1.42828568570857,
 1.445683229480096,
 0.5,
 2.315167380558045,
 1.8681541692269406,
 2.23606797749979,
 2.2561028345356955,
 2.039607805437114,
 0.5,
 0.40000000000000036,
 0.5999999999999996,
 1.004987562112089,
 2.1540659228538015,
 0.5999999999999996,
 2.009975124224178,
 2.0024984394500787,
 2.4103941586387903,
 1.0440306508910548,
 1.118033988749895,
 2.0223748416156684,
 1.3453624047073711,
 1.2806248474865696,
 2.0880613017821097,
 1.0999999999999996,
 0.9000000000000004,
 1.469693845669907,
 1.3453624047073711,
 2.0,
 1.4177446878757824,
 1.4177446878757824,
 0.7000000000000002,
 0.40000000000000036,
 1.7349351572897471,
 1.019803902718557,
 2.009975124224178,
 1.077032961426901,
 1.2206555615733703,
 1.019803902718557,
 0.5999999999999996,
 2.4819347291981715,
 2.2715633383201093,
 1.7320508075688772,
 2.2715633383201093,
 2.2561028345356955,
 0.5999999999999996,
 2.4103941586387903,
 2.039607805437114,
 2.2561028345356955,
 0.7000000000000002,
 0.5,
 1.16619037896906,
 2.2715633383201093,
 2.0223748416156684,
 2.009975124224178,
 2.238302928559939,
 2.039607805437114,
 1.3453624047073711,
 2.2561028345356955,
 1.9078784028338913,
 2.521904042583698,
 1.16619037896906,
 0.40000000000000036,
 0.7000000000000002,
 2.0223748416156684,
 2.238302928559939,
 1.0,
 2.2715633383201093,
 0.2999999999999998,
 0.20000000000000018,
 2.23606797749979,
 2.4103941586387903,
 2.2561028345356955,
 1.077032961426901,
 1.2206555615733703,
 0.7000000000000002,
 0.7000000000000002,
 2.238302928559939,
 1.3453624047073711,
 0.40000000000000036,
 2.2561028345356955,
 2.3430749027719964,
 2.3430749027719964,
 1.004987562112089,
 0.09999999999999964,
 1.7320508075688772,
 1.4177446878757824,
 0.0,
 1.57797338380595,
 2.2561028345356955,
 1.0,
 2.4576411454889016,
 1.16619037896906,
 1.019803902718557,
 1.0440306508910548,
 0.5,
 1.7578395831246945,
 0.09999999999999964,
 2.1540659228538015,
 2.0223748416156684,
 2.23606797749979,
 2.29128784747792,
 1.004987562112089,
 2.467792535850613,
 2.238302928559939,
 0.09999999999999964,
 0.7999999999999998,
 1.5,
 1.2806248474865696,
 2.29128784747792,
 1.16619037896906,
 1.3453624047073711,
 2.2715633383201093,
 2.244994432064365,
 2.238302928559939,
 1.8330302779823358,
 2.039607805437114,
 1.16619037896906,
 2.4515301344262523,
 2.315167380558045,
 2.0615528128088303,
 2.2561028345356955,
 2.0223748416156684,
 2.009975124224178,
 1.4866068747318502,
 2.009975124224178,
 1.5,
 2.29128784747792,
 2.0,
 1.3453624047073711,
 2.238302928559939,
 0.40000000000000036,
 0.5999999999999996,
 2.2715633383201093,
 1.019803902718557,
 0.7999999999999998,
 0.7999999999999998,
 2.449489742783178,
 1.7776388834631178,
 2.244994432064365,
 2.118962010041709,
 1.8027756377319946,
 1.0440306508910548,
 0.09999999999999964,
 1.42828568570857,
 2.3748684174075834,
 1.004987562112089,
 1.445683229480096,
 2.5,
 1.2806248474865696,
 2.521904042583698,
 1.2806248474865696,
 2.0024984394500787,
 1.0999999999999996,
 0.5999999999999996,
 2.2561028345356955,
 2.039607805437114,
 1.7320508075688772,
 1.7776388834631178,
 2.238302928559939,
 1.469693845669907,
 0.5999999999999996,
 1.0440306508910548,
 1.077032961426901,
 0.09999999999999964,
 2.3430749027719964,
 2.0024984394500787,
 2.0024984394500787,
 2.3748684174075834,
 0.7000000000000002,
 1.019803902718557,
 0.20000000000000018,
 2.4515301344262523,
 2.0024984394500787,
 1.16619037896906,
 2.29128784747792,
 2.2561028345356955,
 2.4103941586387903,
 2.4103941586387903,
 2.193171219946131,
 2.315167380558045,
 2.0024984394500787,
 0.40000000000000036,
 1.0440306508910548,
 2.2561028345356955,
 2.2715633383201093,
 2.244994432064365,
 0.5999999999999996,
 1.2806248474865696,
 2.2561028345356955,
 2.0,
 1.16619037896906,
 2.009975124224178,
 2.29128784747792,
 2.3430749027719964,
 0.40000000000000036,
 2.4576411454889016,
 2.2715633383201093,
 1.9078784028338913,
 1.0999999999999996,
 2.29128784747792,
 0.9000000000000004,
 0.09999999999999964,
 0.5999999999999996,
 2.0024984394500787,
 2.29128784747792,
 1.2806248474865696,
 0.40000000000000036,
 0.5999999999999996,
 2.039607805437114,
 2.118962010041709,
 2.2561028345356955,
 0.09999999999999964,
 1.0440306508910548,
 0.0,
 0.7000000000000002,
 1.42828568570857,
 2.29128784747792,
 2.1540659228538015,
 1.2806248474865696,
 2.238302928559939,
 2.244994432064365,
 0.40000000000000036,
 0.5,
 1.019803902718557,
 2.2715633383201093,
 0.7000000000000002,
 2.0615528128088303,
 2.29128784747792,
 2.118962010041709,
 2.039607805437114,
 0.9000000000000004,
 0.5,
 2.039607805437114,
 2.0,
 2.4103941586387903,
 1.2206555615733703,
 2.3748684174075834,
 2.244994432064365,
 1.8330302779823358,
 2.29128784747792,
 2.2561028345356955,
 0.20000000000000018,
 2.238302928559939,
 1.019803902718557,
 2.0,
 1.118033988749895,
 0.7000000000000002,
 1.0,
 1.0999999999999996,
 1.077032961426901,
 2.315167380558045,
 2.29128784747792,
 0.0,
 1.7578395831246945,
 0.2999999999999998,
 0.5999999999999996,
 1.019803902718557,
 1.0440306508910548,
 2.0024984394500787,
 0.5999999999999996,
 0.2999999999999998,
 2.315167380558045,
 2.0223748416156684,
 1.57797338380595,
 0.5,
 2.244994432064365,
 2.238302928559939,
 2.467792535850613,
 2.244994432064365,
 2.244994432064365,
 2.193171219946131,
 1.0,
 2.29128784747792,
 1.2206555615733703,
 1.4142135623730951,
 2.118962010041709,
 2.4103941586387903,
 0.7999999999999998,
 2.4103941586387903,
 2.244994432064365,
 2.238302928559939,
 2.29128784747792,
 0.09999999999999964,
 1.0,
 2.193171219946131,
 1.8681541692269406,
 2.4515301344262523,
 0.40000000000000036,
 2.009975124224178,
 1.2806248474865696,
 1.004987562112089,
 1.469693845669907,
 2.238302928559939,
 2.5,
 1.118033988749895,
 0.40000000000000036,
 0.7000000000000002,
 2.4103941586387903,
 0.09999999999999964,
 1.0440306508910548,
 2.0,
 1.118033988749895,
 0.9000000000000004,
 0.0,
 2.238302928559939,
 2.238302928559939,
 1.7776388834631178,
 2.244994432064365,
 1.0440306508910548,
 1.4866068747318502,
 2.4515301344262523,
 2.2561028345356955,
 1.7776388834631178,
 1.2806248474865696,
 2.4576411454889016,
 2.039607805437114,
 1.0999999999999996,
 2.521904042583698,
 1.0,
 0.0,
 2.29128784747792,
 2.009975124224178,
 0.9000000000000004,
 2.4576411454889016,
 1.118033988749895,
 1.5362291495737215,
 2.2561028345356955,
 1.7320508075688772,
 2.238302928559939,
 2.3430749027719964,
 1.4177446878757824,
 1.0440306508910548,
 1.0,
 0.0,
 1.4142135623730951,
 2.009975124224178,
 2.29128784747792,
 2.0024984394500787,
 1.16619037896906,
 1.077032961426901,
 2.244994432064365,
 2.23606797749979,
 2.0223748416156684,
 2.2561028345356955,
 1.0440306508910548,
 1.004987562112089,
 1.7320508075688772,
 1.0,
 1.42828568570857,
 2.009975124224178,
 0.09999999999999964,
 1.118033988749895,
 0.40000000000000036,
 0.20000000000000018,
 1.2206555615733703,
 1.2206555615733703,
 2.29128784747792,
 2.244994432064365,
 2.23606797749979,
 2.0615528128088303,
 0.7000000000000002,
 2.0,
 1.57797338380595,
 2.23606797749979,
 2.3430749027719964,
 1.019803902718557,
 0.0,
 ...]

In [67]:
 
distances = pd.DataFrame({'distances': distances})

In [68]:
distances

      distances
0      1.004988
1      2.315167
2      1.044031
3      1.417745
4      2.238303
...         ...
4996   2.410394
4997   2.315167
4998   2.256103
4999   2.244994
5000   0.600000

[5001 rows x 1 columns]

In [ ]:
distances.iloc[ 5000, :]

In [69]:
distances = distances.sort_values(by=["distances"]).reset_index(drop=False)

In [76]:
distances

      index  distances
0      2125   0.000000
1       274   0.000000
2        57   0.000000
3       273   0.000000
4       885   0.000000
...     ...        ...
4996    400   2.609598
4997   2346   2.609598
4998   4221   2.609598
4999   2738   2.609598
5000   3164   2.609598

[5001 rows x 2 columns]

In [78]:
k=10
knn = distances.iloc[0:k , :]

In [79]:
knn

   index  distances
0   2125        0.0
1    274        0.0
2     57        0.0
3    273        0.0
4    885        0.0
5   1115        0.0
6   2159        0.0
7   1204        0.0
8   1874        0.0
9   4585        0.0

In [80]:
Y

      forehead_width_cm
0                  11.8
1                  14.0
2                  11.8
3                  14.4
4                  13.5
...                 ...
4996               13.6
4997               11.9
4998               12.9
4999               13.2
5000               15.4

[5001 rows x 1 columns]

In [86]:
Y.iloc[0, :]

forehead_width_cm    11.8
Name: 0, dtype: float64

In [87]:

for i in knn.iloc[:,0]:

    Y_values_knn.append(Y.iloc[i , :])

In [88]:
Y_values_knn

[forehead_width_cm    11.5
 Name: 2125, dtype: float64,
 forehead_width_cm    13.0
 Name: 274, dtype: float64,
 forehead_width_cm    13.5
 Name: 57, dtype: float64,
 forehead_width_cm    15.3
 Name: 273, dtype: float64,
 forehead_width_cm    14.3
 Name: 885, dtype: float64,
 forehead_width_cm    11.7
 Name: 1115, dtype: float64,
 forehead_width_cm    12.7
 Name: 2159, dtype: float64,
 forehead_width_cm    12.1
 Name: 1204, dtype: float64,
 forehead_width_cm    12.9
 Name: 1874, dtype: float64,
 forehead_width_cm    14.1
 Name: 4585, dtype: float64]

In [101]:
from itertools import chain

Y_values_knn = list(chain(*Y_values_knn))

In [103]:
Y_values_knn

[11.5, 13.0, 13.5, 15.3, 14.3, 11.7, 12.7, 12.1, 12.9, 14.1]

In [106]:

prediction = sum(Y_values_knn)/k

In [107]:

  print( "KNN algorithm predict y_new =",  prediction )

KNN algorithm predict y_new = 13.11

In [92]:
message

In [45]:
KNN_regression( X , Y , x_new, k=10, distance = "Minkowski" , q = 2 )

KeyError: 2125

## Bibliography

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html