In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import math
import sklearn
import itertools

from sklearn.utils import resample
from sklearn.neighbors import NearestNeighbors

In [3]:
Data = pd.read_csv('House_Price_Regression.csv')

Data = Data.loc[:, ['latitude', 'longitude', 'price', 'size_in_m_2', 'balcony_recode', 'private_garden_recode', 'quality_recode']]

Data.head()

,latitude,longitude,price,size_in_m_2,balcony_recode,private_garden_recode,quality_recode
0,25.113208,55.138932,2700000,100.242337,1.0,0.0,2.0
1,25.106809,55.151201,2850000,146.972546,1.0,0.0,2.0
2,25.063302,55.137728,1150000,181.253753,1.0,0.0,2.0
3,25.227295,55.341761,2850000,187.664060,1.0,0.0,1.0
4,25.114275,55.139764,1729200,47.101821,0.0,0.0,2.0

## Algoritmos de validación

In [28]:
def simple_validation_random(D, k, response, random_seed, metric, model):

    # D --> have to be a pandas data frame.

    # k --> is the proportion of observation of D that define D_train.

    # response --> have to be a string with the name of the response variable.

    # random_seed --> seed to replicate the random process

    N = len(D)

    D_train = D.sample(frac=k, replace=False, random_state=random_seed)

    D_test = D.drop( D_train.index , )

    X_train = D_train.loc[: , D_train.columns != response]
    Y_train = D_train.loc[: , response]

    X_test = D_test.loc[: , D_test.columns != response]
    Y_test = D_test.loc[: , response]

############################################################################

    # Training the model wit train sample

    model.fit(X_train, Y_train)

    # Making predictions with test sample

    Y_predict_test = model.predict( X_test ) 

####################################################################

 # Computing the test metric

    if metric == 'ECM' :  
        
        ECM_test = np.mean( (Y_predict_test - Y_test)**2 )

        return ECM_test

    elif metric == 'TA' :  
        
        TA_test = np.mean( (Y_predict_test == Y_test) )

        return TA_test

In [29]:
def repeated_random_simple_validation(D, k, B, response, random_seed, metric, model):

    # D --> have to be a pandas data frame.

    # k --> is the proportion of observation of D that define D_train.

    # B --> number of replications of the random simple validation algorithm

    # response --> have to be a string with the name of the response variable.

    # random_seed --> seed to replicate the random process


    np.random.seed(random_seed)

    ECM_test_list , TA_test_list = [ ] , [ ]

    seed_array = np.random.randint(9999999, size=(B))


    if metric == 'ECM':

        for b in range(0,B) :

            ECM_test_list.append( simple_validation_random(D, k, response, random_seed=seed_array[b], metric=metric, model=model) )


        ECM_test = np.mean(ECM_test_list)    

        return ECM_test 


    elif metric == 'TA':

        for b in range(0,B) :

            TA_test_list.append( simple_validation_random(D, k, response, random_seed=seed_array[b], metric=metric, model=model) )


        TA_test = np.mean(TA_test_list)    

        return TA_test

## Grid search

In [47]:
def Grid_search(Data, Search_Space, response, model, validation, metric, B, k, K, random_search, random_seed_1, random_seed_2, random_samples):

   Grid_Search_Metric_list = []

   hyperparameter_combinations = list( itertools.product(Search_Space[0], Search_Space[1]) )

   if random_search == True : hyperparameter_combinations = resample(hyperparameter_combinations, n_samples=random_samples, replace=False, random_state=random_seed_1)
   else : pass


   if model == 'knn_regression' :

      if validation == 'repeated_random_simple_validation' :

         for h in hyperparameter_combinations :
            
            # Setting the hyperparameters of the model

            knn_regression = sklearn.neighbors.KNeighborsRegressor(n_neighbors=h[0] ,  metric=h[1]) 

            # Applying a validation algorithm on the model  

            Grid_Search_Metric_list.append( repeated_random_simple_validation(Data, k, B, response, random_seed_2, metric, model=knn_regression) )


         df = pd.DataFrame({'(k , distance)': hyperparameter_combinations, metric: Grid_Search_Metric_list})

         if metric == 'ECM' :

            df = df.sort_values(by=metric, ascending=True)

         elif metric == 'TA' :

            df = df.sort_values(by=metric, ascending=False)
   
   
   return df

In [52]:
df_Grid_Search = Grid_search(Data=Data, Search_Space=[range(1,200) , ['euclidean','cosine','cityblock','manhattan']], response='price', model='knn_regression', validation='repeated_random_simple_validation', metric='ECM', B=10, k=0.75, K='no', random_search=False, random_samples=150, random_seed_1=123, random_seed_2=123)

In [53]:
df_Grid_Search

       (k , distance)           ECM
61       (16, cosine)  2.090463e+12
57       (15, cosine)  2.093899e+12
65       (17, cosine)  2.094901e+12
58    (15, cityblock)  2.100255e+12
59    (15, manhattan)  2.100255e+12
..                ...           ...
790  (198, cityblock)  4.361641e+12
791  (198, manhattan)  4.361641e+12
792  (199, euclidean)  4.364307e+12
794  (199, cityblock)  4.367750e+12
795  (199, manhattan)  4.367750e+12

[796 rows x 2 columns]

In [50]:
df_Grid_Search = Grid_search(Data=Data, Search_Space=[range(1,200) , ['euclidean','cosine','cityblock','manhattan']], response='price', model='knn_regression', validation='repeated_random_simple_validation', metric='ECM', B=10, k=0.75, K='no', random_search=True, random_samples=150, random_seed_1=123, random_seed_2=123)

In [51]:
df_Grid_Search

       (k , distance)           ECM
23       (15, cosine)  2.093899e+12
97    (14, cityblock)  2.103775e+12
44    (14, manhattan)  2.103775e+12
145   (20, manhattan)  2.120384e+12
59    (20, cityblock)  2.120384e+12
..                ...           ...
56   (188, euclidean)  4.292571e+12
110  (190, manhattan)  4.312643e+12
128  (196, cityblock)  4.351279e+12
142  (198, manhattan)  4.361641e+12
17   (198, cityblock)  4.361641e+12

[150 rows x 2 columns]

## Grid search como metodo de optimizacion de funciones matematicas

In [ ]:
values = []

for x in range(-99999 , 99999) :

    values.append( x**2 )

In [ ]:
df = pd.DataFrame({'x':range(-99999 , 99999)  , 'f(x)':values})

In [ ]:
df.sort_values(by='f(x)')

            x        f(x)
99999       0           0
99998      -1           1
100000      1           1
100001      2           4
99997      -2           4
...       ...         ...
2      -99997  9999400009
199996  99997  9999400009
199997  99998  9999600004
1      -99998  9999600004
0      -99999  9999800001

[199998 rows x 2 columns]

In [ ]:
values , Search_Space_list = [] , []

Search_Space_1 = range(-100 , 100)

Search_Space_2 = range(-100 , 100)

hyperparameter_combinations = list( itertools.product(Search_Space_1, Search_Space_2) )

for x in hyperparameter_combinations :

    Search_Space_list.append(x)

    values.append( x[0]**2 + x[1]**2)

In [ ]:
df = pd.DataFrame({'(x_1,x_2)':Search_Space_list , 'f(x_1,x_2)':values})

In [ ]:
df.sort_values(by='f(x_1,x_2)', ascending=True )

          (x_1,x_2)  f(x_1,x_2)
20100        (0, 0)           0
20101        (0, 1)           1
20300        (1, 0)           1
20099       (0, -1)           1
19900       (-1, 0)           1
...             ...         ...
39800    (99, -100)       19801
200     (-99, -100)       19801
199      (-100, 99)       19801
1       (-100, -99)       19801
0      (-100, -100)       20000

[40000 rows x 2 columns]