In [2]:
import pandas as pd

In [3]:
Netflix_Data = pd.read_csv('titles.csv')

In [5]:
Netflix_Data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

# Estructura del data-set

This dataset contains +5k unique titles on Netflix with 15 columns containing their information, including:

id: The title ID on JustWatch.
title: The name of the title.
show_type: TV show or movie.
description: A brief description.
release_year: The release year.
age_certification: The age certification.
runtime: The length of the episode (SHOW) or movie.
genres: A list of genres.
production_countries: A list of countries that produced the title.
seasons: Number of seasons if it's a SHOW.
imdb_id: The title ID on IMDB.
imdb_score: Score on IMDB.
imdb_votes: Votes on IMDB.
tmdb_popularity: Popularity on TMDB.
tmdb_score: Score on TMDB.

In [6]:
Netflix_Data.shape

(5850, 15)

In [7]:
Netflix_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [9]:
Netflix_Data['type'].unique()

array(['SHOW', 'MOVIE'], dtype=object)

In [10]:
Netflix_Data['genres'].unique()

array(["['documentation']", "['drama', 'crime']",
       "['drama', 'action', 'thriller', 'european']", ...,
       "['drama', 'animation', 'music']",
       "['animation', 'family', 'scifi']",
       "['documentation', 'music', 'reality']"], dtype=object)

In [15]:
Netflix_Data['age_certification'].unique()

array(['TV-MA', 'R', 'PG', nan, 'TV-14', 'PG-13', 'TV-PG', 'TV-Y', 'TV-G',
       'TV-Y7', 'G', 'NC-17'], dtype=object)

In [13]:
Netflix_Data['production_countries'].unique()

array(["['US']", "['GB']", "['GB', 'US']", "['EG']", "['DE']", "['IN']",
       "['SU', 'IN']", "['LB', 'CA', 'FR']", '[]', "['LB']",
       "['DZ', 'EG']", "['CA', 'FR', 'LB']", "['US', 'GB']",
       "['US', 'IT']", "['JP']", "['AR']", "['FR', 'EG']", "['FR', 'LB']",
       "['CA', 'US']", "['US', 'FR']", "['JP', 'US']", "['US', 'CA']",
       "['DE', 'US']", "['PE', 'US', 'BR']", "['IT', 'US', 'FR']",
       "['IE', 'GB', 'DE', 'FR']", "['HK', 'US']", "['AU']", "['FR']",
       "['DE', 'GH', 'GB', 'US', 'BF']", "['MX']", "['ES', 'AR']",
       "['CO']", "['PS', 'US', 'FR', 'DE']", "['FR', 'NO', 'LB', 'BE']",
       "['BE', 'FR', 'IT', 'LB']", "['TR']", "['IN', 'SU']", "['DK']",
       "['CA']", "['DE', 'GB', 'US', 'BS', 'CZ']", "['MT', 'GB', 'US']",
       "['AU', 'DE', 'GB', 'US']", "['US', 'JP']", "['BE', 'US']",
       "['HK']", "['IT']", "['US', 'FR', 'DE', 'GB']",
       "['GB', 'US', 'FR', 'DE']", "['IT', 'US']", "['US', 'ZA']",
       "['GB', 'ES']", "['GB', 'US', 'JP']", "['HK', 'CN']",
       "['GB', 'US', 'BG']", "['RU']", "['KR']", "['CA', 'US', 'IN']",
       "['CN']", "['JP', 'HK']", "['CA', 'GB', 'US']",
       "['FR', 'MX', 'ES']", "['IN', 'US']", "['AR', 'ES']", "['CL']",
       "['FR', 'MA', 'DE', 'PS']", "['AR', 'DE', 'UY', 'ES']",
       "['CL', 'AR']", "['CZ', 'GB', 'DK', 'NL', 'SE']", "['TW']",
       "['SG']", "['NG']", "['MY']", "['Lebanon']",
       "['BE', 'FR', 'ES', 'CH', 'PS']", "['ZA']", "['NG', 'US']",
       "['LB', 'FR']", "['CN', 'HK']", "['PH']", "['LB', 'GB', 'FR']",
       "['FR', 'DE', 'KW', 'PS']", "['PS']",
       "['GB', 'US', 'AT', 'FR', 'DE', 'NG']", "['XX']", "['AE', 'US']",
       "['DK', 'US']", "['FR', 'US', 'GB']", "['HU', 'US', 'CA']",
       "['NO']", "['GB', 'FR', 'DE']", "['US', 'HU', 'IT']",
       "['US', 'ZA', 'DE']", "['IN', 'DE']", "['SA']", "['ID']",
       "['US', 'LB', 'AE']", "['PS', 'NL', 'US', 'AE']",
       "['US', 'FR', 'GB']", "['US', 'DE', 'GB']", "['GB', 'ZA']",
       "['US', 'CA', 'CL']", "['US', 'GB', 'CN', 'CA']",
       "['AU', 'CH', 'GB']", "['ES']", "['FI']", "['IL']", "['FR', 'US']",
       "['AU', 'US']", "['CA', 'US', 'GB']", "['AT']", "['CD', 'GB']",
       "['US', 'BR']", "['CA', 'JP', 'US']", "['CA', 'KR']",
       "['US', 'EG', 'GB']", "['BR']", "['PL']", "['VE', 'AR']", "['RO']",
       "['IL', 'NO', 'ZA', 'AE', 'GB', 'IS', 'IE']",
       "['US', 'CN', 'DE', 'SG', 'UA']", "['DE', 'IT', 'PS', 'FR']",
       "['AE', 'LB']", "['LB', 'AE']", "['US', 'ES']", "['NZ']",
       "['GB', 'US', 'FR']", "['US', 'FR', 'LU', 'GB']", "['FR', 'BE']",
       "['IT', 'GB']", "['US', 'CA', 'GB']", "['CA', 'FR']",
       "['US', 'CN']", "['UA']", "['MX', 'ZA', 'US']",
       "['US', 'GB', 'ES']", "['BE', 'DK', 'DE', 'GB', 'US']",
       "['GB', 'IR', 'JO', 'QA']", "['CH', 'US']", "['CA', 'DE', 'GB']",
       "['GH', 'US']", "['IE', 'GB']", "['CN', 'US']",
       "['UA', 'GB', 'US']", "['IE', 'ZA']", "['US', 'FR', 'MT']",
       "['BG']", "['GB', 'FR']", "['BY']", "['IE']", "['IS']",
       "['AU', 'FR', 'DE']", "['CN', 'FR', 'CA']", "['FR', 'QA']",
       "['SE']", "['FR', 'ES']", "['NL']", "['HR']", "['FR', 'MA']",
       "['RU', 'US', 'FR']", "['SY', 'GB']", "['AT', 'US']", "['CD']",
       "['FR', 'CL']", "['AU', 'GB']", "['TN']", "['AE']", "['SE', 'NO']",
       "['GL', 'FR']", "['LB', 'DE']", "['PT', 'SE', 'DK', 'BR', 'FR']",
       "['QA', 'LB']", "['GB', 'AU', 'US']", "['ES', 'DK']",
       "['AE', 'FR', 'JO', 'LB', 'QA', 'PS']", "['US', 'CA', 'JP']",
       "['PK']", "['IN', 'GB']", "['PS', 'FR', 'DE']", "['CZ']",
       "['CA', 'NG']", "['VN']", "['NL', 'GB']",
       "['CA', 'HU', 'MX', 'ES', 'GB', 'US']", "['FR', 'GB', 'US']",
       "['FR', 'NL', 'GB', 'US']", "['CN', 'CA', 'US']", "['CA', 'GB']",
       "['KR', 'US']", "['FR', 'RO', 'GB', 'BE', 'DE']", "['US', 'MX']",
       "['HK', 'IS', 'US']", "['IN', 'CN', 'US', 'GB']", "['BE', 'FR']",
       "['PR', 'US', 'GB', 'CN']", "['GB', 'DE']", "['US', 'PR']",
       "['IT', 'CH', 'FR']", "['IT', 'ES', 'FR']", "['US', 'IS', 'NO']",
       "['IQ', 'GB']", "['HU']", "['US', 'AU', 'GB']",
       "['CZ', 'GB', 'US']", "['US', 'IE', 'CA']", "['TH']",
       "['IR', 'US', 'FR']", "['BE']",
       "['GB', 'ID', 'CA', 'CN', 'SG', 'US']", "['ES', 'FR']",
       "['SG', 'GB', 'US']", "['GE', 'DE', 'FR']", "['CA', 'US', 'DE']",
       "['CA', 'IE']", "['NL', 'BE']", "['US', 'KH']", "['FR', 'JP']",
       "['PR']", "['US', 'CA', 'CN']", "['CN', 'US', 'ES']",
       "['CU', 'US']", "['BG', 'US']", "['US', 'BG']",
       "['US', 'DK', 'GB']", "['ES', 'IT']", "['TR', 'US']",
       "['PE', 'DE', 'NO']", "['LU', 'US', 'FR']",
       "['IL', 'MA', 'US', 'BG', 'GB']", "['AR', 'CL']",
       "['AR', 'ES', 'UY']", "['JP', 'CN']", "['US', 'AU']",
       "['QA', 'TN', 'FR']", "['ES', 'MX']", "['PH', 'SG']",
       "['US', 'AE']", "['DE', 'DK', 'NL', 'GB']", "['NL', 'MX']",
       "['CA', 'CN']", "['NO', 'SE', 'DK', 'NL']", "['US', 'DE', 'ZA']",
       "['IS', 'SE', 'BE']", "['DE', 'ES']", "['CN', 'FR', 'TW', 'US']",
       "['KH']", "['BE', 'FR', 'IT']", "['DE', 'CH']",
       "['JP', 'KR', 'FR']", "['DE', 'NZ', 'GB']", "['PE']",
       "['MX', 'US']", "['US', 'DK']", "['PL', 'US']", "['KE']", "['GH']",
       "['IT', 'CH', 'VA', 'FR', 'DE']", "['PE', 'GB', 'US', 'IL', 'IT']",
       "['SA', 'SY', 'AE']", "['US', 'KR']", "['IN', 'FR']",
       "['RS', 'PL', 'RU']", "['CL', 'NL', 'FR']", "['IE', 'CA']",
       "['US', 'NL']", "['TZ']", "['IT', 'ES']", "['ID', 'MY', 'SG']",
       "['FR', 'LU', 'CA']", "['FR', 'QA', 'TN', 'BE']",
       "['PL', 'CH', 'AL', 'IT']", "['CZ', 'US']", "['AR', 'FR']",
       "['DE', 'IT']", "['IT', 'FR']", "['MX', 'FI']", "['CA', 'BR']",
       "['IN', 'MX']", "['BR', 'DK', 'FR', 'DE', 'PL', 'AR']",
       "['ZA', 'US', 'CA']", "['ES', 'BE']", "['PY']", "['US', 'NG']",
       "['US', 'BE', 'GB']", "['ZW']", "['IT', 'AR']",
       "['AT', 'IQ', 'US']", "['GE']", "['AR', 'IT']", "['NG', 'NO']",
       "['IS', 'GB']", "['MX', 'CO']", "['AR', 'US']", "['KW']",
       "['JP', 'GB']", "['TW', 'US']", "['NP', 'IN']",
       "['AU', 'US', 'CN']", "['FR', 'IN', 'SG']", "['LB', 'PS']",
       "['JP', 'US', 'CA']", "['CM']", "['BD', 'IN']", "['CA', 'ZA']",
       "['FR', 'PS', 'CH', 'QA']", "['NL', 'JO', 'DE']",
       "['GB', 'DK', 'GR']", "['MX', 'AR']", "['US', 'CL', 'MX']",
       "['KG']", "['CH']", "['BD']", "['LU']", "['ZA', 'GB']",
       "['BT', 'CN']", "['CA', 'HU', 'US']", "['BE', 'LT', 'NL']",
       "['IT', 'MC', 'US', 'CA']", "['CN', 'US', 'AU', 'CA']",
       "['BE', 'SE', 'GB']", "['GB', 'CZ', 'FR']", "['US', 'MW', 'GB']",
       "['US', 'CY']", "['BE', 'FR', 'SN']", "['BR', 'FR', 'ES', 'BE']",
       "['US', 'CH']", "['US', 'IL']", "['FR', 'LT', 'GB']",
       "['GB', 'IE']", "['GB', 'IT']", "['JO', 'TH', 'US', 'AL']",
       "['PT', 'US']", "['IL', 'US', 'FR', 'DE']", "['TW', 'MY']",
       "['US', 'CA', 'FR', 'ES']", "['FI', 'NO']", "['US', 'FR', 'JP']",
       "['GB', 'JP']", "['US', 'CN', 'GB']",
       "['US', 'FR', 'SE', 'GB', 'DE', 'DK', 'CA']", "['DE', 'AT']",
       "['US', 'TH']", "['PH', 'US']", "['BR', 'MX']", "['NO', 'CA']",
       "['CO', 'ES']", "['CN', 'DE', 'GB']", "['NO', 'DE']",
       "['ES', 'PT']", "['IL', 'US']", "['ES', 'BE', 'DE']",
       "['TH', 'US']", "['US', 'FR', 'ES']", "['ES', 'FR', 'AR']",
       "['NL', 'PL', 'UA', 'GB', 'US']", "['QA', 'PS']",
       "['RS', 'UY', 'AR']", "['FR', 'IT']", "['CA', 'LK']",
       "['US', 'AR']", "['EG', 'US']", "['US', 'IN']",
       "['FR', 'LU', 'BE', 'KH']", "['US', 'BE', 'ES']",
       "['CA', 'FR', 'JP', 'GB', 'US']", "['AT', 'DE']",
       "['US', 'GB', 'DE']", "['FR', 'MX', 'CO']", "['BR', 'FR']",
       "['JO']", "['FR', 'IN', 'QA']", "['AR', 'PE']", "['MU']",
       "['DE', 'DK', 'EG']", "['US', 'IE']", "['IO']", "['TW', 'CN']",
       "['FR', 'NL', 'SG']", "['SN']", "['UY']", "['DE', 'IN', 'AT']",
       "['MA', 'FR', 'QA']", "['PS', 'PH']", "['EG', 'SA']",
       "['ES', 'CN']", "['CL', 'AR', 'CA']", "['AR', 'CO']",
       "['GT', 'UY']", "['AF', 'DE', 'PS']", "['ZA', 'AO']",
       "['HK', 'PH']", "['SG', 'MY']", "['SE', 'US']",
       "['LB', 'US', 'NL', 'CA']", "['NL', 'PS', 'US', 'LB']",
       "['DK', 'LB', 'GB']", "['UY', 'MX', 'ES']", "['PH', 'JP']",
       "['CN', 'JP', 'US']", "['NA']", "['LB', 'QA', 'SY', 'FR']",
       "['PS', 'DK', 'LB']", "['US', 'CZ']",
       "['GB', 'AU', 'CA', 'GR', 'NZ']", "['GR', 'GB', 'US']",
       "['DE', 'FR']", "['NL', 'US']", "['AT', 'GB', 'US']",
       "['CH', 'DE']", "['GB', 'US', 'DE']", "['DK', 'IS']",
       "['FR', 'DE', 'US']", "['US', 'JP', 'TH']", "['FR', 'DE']",
       "['RO', 'US']", "['ES', 'KN']", "['SE', 'GB']",
       "['SG', 'US', 'IN']", "['DE', 'AU']", "['GB', 'CA']",
       "['IE', 'US', 'CA']", "['PT']", "['US', 'PL', 'KR']",
       "['LU', 'FR']", "['IT', 'BR']", "['GB', 'HU', 'NL', 'CH']",
       "['BR', 'DE', 'QA', 'MX', 'US', 'CH', 'AR']", "['ES', 'PE']",
       "['BE', 'GB', 'DE']", "['ZA', 'GB', 'US']", "['CL', 'PE']",
       "['CA', 'CN', 'US']", "['SG', 'US']", "['BR', 'US']",
       "['BE', 'NL']", "['RU', 'US']", "['ES', 'US']", "['CZ', 'DE']",
       "['NZ', 'HK']", "['MA', 'SA', 'TN', 'EG', 'LB']", "['CN', 'GB']",
       "['AF']", "['BE', 'LU']", "['BE', 'DE']", "['SE', 'RO']",
       "['ZA', 'US']", "['GB', 'IN']", "['HU', 'CA']", "['NG', 'CA']",
       "['TZ', 'GB']", "['PH', 'FO']"], dtype=object)

In [8]:
Netflix_Data.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

In [ ]:
Netflix_Data['type'] = ord_enc.fit_transform(Netflix_Data[['type']])

# Resumen Estadístico Descriptivo Básico <a class="anchor" id="9"></a>

In [14]:
Netflix_Data.describe(include='all') # include='all' para dar un tratamiento diferente a las categoricas que a las cuantitativas

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5850,5849,5850,5832,5850.000000,3231,5850.000000,5850,5850,2106.000000,5447,5368.000000,5.352000e+03,5759.000000,5539.000000
unique,5850,5798,2,5829,NaN,11,NaN,1726,452,NaN,5447,NaN,NaN,NaN,NaN
top,ts300399,The Gift,MOVIE,Five families struggle with the ups and downs ...,NaN,TV-MA,NaN,['comedy'],['US'],NaN,tt0075314,NaN,NaN,NaN,NaN
freq,1,3,3744,2,NaN,883,NaN,484,1959,NaN,1,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2016.417094,NaN,76.888889,NaN,NaN,2.162868,NaN,6.510861,2.343938e+04,22.637925,6.829175
std,NaN,NaN,NaN,NaN,6.937726,NaN,39.002509,NaN,NaN,2.689041,NaN,1.163826,9.582047e+04,81.680263,1.170391
min,NaN,NaN,NaN,NaN,1945.000000,NaN,0.000000,NaN,NaN,1.000000,NaN,1.500000,5.000000e+00,0.009442,0.500000
25%,NaN,NaN,NaN,NaN,2016.000000,NaN,44.000000,NaN,NaN,1.000000,NaN,5.800000,5.167500e+02,2.728500,6.100000
50%,NaN,NaN,NaN,NaN,2018.000000,NaN,83.000000,NaN,NaN,1.000000,NaN,6.600000,2.233500e+03,6.821000,6.900000
75%,NaN,NaN,NaN,NaN,2020.000000,NaN,104.000000,NaN,NaN,2.000000,NaN,7.300000,9.494000e+03,16.590000,7.537500
max,NaN,NaN,NaN,NaN,2022.000000,NaN,240.000000,NaN,NaN,42.000000,NaN,9.600000,2.294231e+06,2274.044000,10.000000

### 4.3.3. Análisis gráfico general <a class="anchor" id="10"></a>

#### 4.3.3.1. Histogramas para las variables cuantitativas <a class="anchor" id="11"></a>

In [ ]:
import numpy as np

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
fig, axs = plt.subplots(3, 3, figsize=(13, 13))

p1 = sns.histplot(data=Netflix_Data, x="Total_Bilirubin", stat="proportion", bins=15, color="skyblue", ax=axs[0, 0])
p1.set_xticks( range(int(Data_Python['Total_Bilirubin'].min()) , int(Data_Python['Total_Bilirubin'].max()) , 10) )
p1.set_yticks( np.arange(0, 1, 0.1)  )

p2 = sns.histplot(data=Data_Python, x="Direct_Bilirubin", stat="proportion", bins=15, color="olive", ax=axs[0, 1])
p2.axes.set(xlabel='Direct_Bilirubin', ylabel=' ')
p2.set_xticks( range(int(Data_Python['Direct_Bilirubin'].min()) , int(Data_Python['Direct_Bilirubin'].max()) , 3) )
p2.set_yticks( np.arange(0, 1, 0.1)  )

p3 = sns.histplot(data=Data_Python, x="Alkaline_Phosphotase", stat="proportion", bins=15, color="blue", ax=axs[0, 2])
p3.axes.set(xlabel='Alkaline_Phosphotase', ylabel=' ')
p3.set_xticks( range(int(Data_Python['Alkaline_Phosphotase'].min()) , int(Data_Python['Alkaline_Phosphotase'].max()) , 320) )
p3.set_yticks( np.arange(0, 1, 0.1)  )

p4 = sns.histplot(data=Data_Python, x="Alamine_Aminotransferase", stat="proportion", bins=15, color="teal", ax=axs[1, 0])
p4.axes.set(xlabel='Alamine_Aminotransferase', ylabel=' ')
p4.set_xticks( range(int(Data_Python['Alamine_Aminotransferase'].min()) , int(Data_Python['Alamine_Aminotransferase'].max()) , 300) )
p4.set_yticks( np.arange(0, 1, 0.1)  )

p5 = sns.histplot(data=Data_Python, x="Aspartate_Aminotransferase", stat="proportion", bins=15, color="purple", ax=axs[1, 1])
p5.axes.set(xlabel='Aspartate_Aminotransferase', ylabel=' ')
p5.set_xticks( range(int(Data_Python['Aspartate_Aminotransferase'].min()) , int(Data_Python['Aspartate_Aminotransferase'].max()) , 850) )
p5.set_yticks( np.arange(0, 1, 0.1)  )

p6 = sns.histplot(data=Data_Python, x="Total_Protiens", stat="proportion", bins=15, color="pink", ax=axs[1, 2])
p6.axes.set(xlabel='Total_Protiens', ylabel=' ')
p6.set_xticks( range(int(Data_Python['Total_Protiens'].min()) , int(Data_Python['Total_Protiens'].max()+1) , 1) )
p6.set_yticks( np.arange(0, 1, 0.1)  )

p7 = sns.histplot(data=Data_Python, x="Albumin", stat="proportion", bins=15, color="orange", ax=axs[2, 0])
p7.axes.set(xlabel='Albumin', ylabel=' ')
p7.set_xticks( range(int(Data_Python['Albumin'].min()) , int(Data_Python['Albumin'].max()+1) , 1) )
p7.set_yticks( np.arange(0, 1, 0.1)  )

p8 = sns.histplot(data=Data_Python, x="Albumin_and_Globulin_Ratio", stat="proportion", bins=15, color="red", ax=axs[2, 1])
p8.axes.set(xlabel='Albumin_and_Globulin_Ratio', ylabel=' ')
p8.set_xticks( np.arange(0, 2, 0.5)  )
p8.set_yticks( np.arange(0, 1, 0.1)  )

p9 = sns.histplot(data=Data_Python, x="Age", stat="proportion", bins=15, color="green", ax=axs[2, 2])
p9.axes.set(xlabel='Age', ylabel=' ')
p9.set_xticks( range(int(Data_Python['Age'].min()) , int(Data_Python['Age'].max()) , 10) )
p9.set_yticks( np.arange(0, 1, 0.1)  )

plt.show()