In [15]:
def a(Binary_Data) :

            X = Binary_Data

            a = X @ X.T

            return(a)

##########################################################################################

def d(Binary_Data):

            X = Binary_Data

            ones_matrix = np.ones(( X.shape[0] , X.shape[1])) 

            d = (ones_matrix - X) @ (ones_matrix - X).T

            return(d)

##########################################################################################

def alpha_py(i,j, Multiple_Categorical_Data):

                X = Multiple_Categorical_Data

                alpha = np.repeat(0, X.shape[1])

                for k in range(0, X.shape[1]) :

                    if X.iloc[i-1, k] == X.iloc[j-1, k] :

                        alpha[k] = 1

                    else :

                        alpha[k] = 0


                alpha = alpha.sum()

                return(alpha)

   ##########################################################################################

def alpha_py_Numpy(i,j, Multiple_Categorical_Data):

                X = Multiple_Categorical_Data

                alpha = np.repeat(0, X.shape[1])

                for k in range(0, X.shape[1]) :

                    if X[i-1, k] == X[j-1, k] :

                        alpha[k] = 1

                    else :

                        alpha[k] = 0


                alpha = alpha.sum()

                return(alpha)

In [90]:
alpha_py(22,10, X_prueba_pandas)

2

In [91]:
alpha_py_Numpy(22,10, X_prueba_numpy)

2

In [16]:

def Gower_Similarity_PANDAS(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

   # The data matrix X have to be order in the following way:
   # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.

   #####################################################################################
        
            def G(k, X):

                range = X.iloc[:,k].max() - X.iloc[:,k].min() 

                return(range)

            G_vector = np.repeat(0.5, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
                
      
    ##########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X.iloc[: , 0:p1]

            Binary_Data = X.iloc[: , (p1):(p1+p2)]
            
            Multiple_Categorical_Data = X.iloc[: , (p1+p2):(p1+p2+p3) ]

    ##########################################################################################

            numerator_part_1 = ( ones - ( (Quantitative_Data.iloc[i-1,:] - Quantitative_Data.iloc[j-1,:]).abs() / G_vector ) ).sum() 

            numerator_part_2 = a(Binary_Data).iloc[i-1,j-1] + alpha_py(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2
 
            denominator = p1 + (p2 - d(Binary_Data).iloc[i-1,j-1]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)

In [19]:

def Gower_Similarity_Numpy(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

   # The data matrix X have to be order in the following way:
   # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.

   #####################################################################################
        
            def G(k, X):

                range = X[:,k].max() - X[:,k].min() 

                return(range)

            G_vector = np.repeat(0.5, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
                
      
    ##########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X[: , 0:p1]

            Binary_Data = X[: , (p1):(p1+p2)]
            
            Multiple_Categorical_Data = X[: , (p1+p2):(p1+p2+p3) ]

    ##########################################################################################

            numerator_part_1 = ( ones - ( abs(Quantitative_Data[i-1,:] - Quantitative_Data[j-1,:]) / G_vector ) ).sum() 

            numerator_part_2 = a(Binary_Data)[i-1,j-1] + alpha_py_Numpy(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2
 
            denominator = p1 + (p2 - d(Binary_Data)[i-1,j-1]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)
  
##########################################################################################

In [92]:
def G_numpy(k, X):

    range = X[:,k].max() - X[:,k].min() 

    return(range)

In [93]:
def G_pandas(k, X):

    range = X.iloc[:,k].max() - X.iloc[:,k].min() 

    return(range)

In [97]:
G_numpy(3, X_prueba_numpy)

25.240419

In [102]:
X_prueba_numpy[:,3].max()

25.240419

In [103]:
X_prueba_numpy[:,3].min()

0.0

In [104]:
X_prueba_numpy

array([[337.981114, 4, 3, 25.07359, 55.126352, 0.0, 0.0, 2.0],
       [214.977542, 2, 2, 25.073778, 55.132888, 0.0, 0.0, 2.0],
       [167.875721, 3, 3, 25.072954, 55.128089, 0.0, 0.0, 2.0],
       [66.425645, 1, 1, 25.111535, 55.365680000000005, 0.0, 0.0, 2.0],
       [47.937948, 0, 1, 24.946417, 55.211718000000005, 0.0, 0.0, 2.0],
       [72.650146, 1, 2, 25.195483, 55.271797, 0.0, 0.0, 2.0],
       [111.4836, 2, 2, 25.240419, 55.25277, 0.0, 0.0, 0.0],
       [154.683495, 3, 2, 25.093596, 55.166634, 1.0, 0.0, 2.0],
       [71.999825, 1, 2, 25.086376, 55.14736, 0.0, 0.0, 2.0],
       [86.864305, 1, 1, 25.132519, 55.151574, 0.0, 0.0, 2.0],
       [94.296545, 1, 2, 25.114275, 55.139764, 0.0, 0.0, 2.0],
       [80.361095, 1, 1, 25.191107, 55.26991, 0.0, 0.0, 1.0],
       [107.953286, 2, 3, 25.209767000000003, 55.345908, 0.0, 0.0, 0.0],
       [106.095226, 1, 1, 25.107005, 55.152689, 0.0, 0.0, 1.0],
       [41.899253, 0, 1, 25.016736, 55.25101, 0.0, 0.0, 2.0],
       [86.306887, 1, 2, 25.189282, 55.28915799999999, 0.0, 0.0, 2.0],
       [158.213809, 3, 4, 25.201842000000003, 55.280473, 0.0, 0.0, 2.0],
       [92.717194, 2, 3, 25.194031, 55.269318000000005, 0.0, 0.0, 1.0],
       [91.881067, 1, 2, 25.109367, 55.247980000000005, 0.0, 0.0, 2.0],
       [85.00624499999999, 1, 1, 25.186836, 55.276951, 0.0, 0.0, 2.0],
       [79.89658, 1, 2, 25.039066, 55.220697, 0.0, 0.0, 2.0],
       [177.351827, 3, 3, 25.07696, 55.146775, 0.0, 0.0, 0.0],
       [164.159601, 3, 2, 25.094635, 55.171817, 0.0, 0.0, 1.0],
       [208.845944, 3, 2, 25.111229, 55.136449, 0.0, 0.0, 1.0],
       [41.80635, 0, 1, 25.065736, 55.137452, 0.0, 1.0, 0.0],
       [70.884989, 1, 2, 25.07359, 55.126352, 0.0, 0.0, 2.0],
       [77.852714, 1, 2, 25.086376, 55.14736, 0.0, 0.0, 2.0],
       [209.96078, 3, 3, 25.116492, 55.141387, 0.0, 0.0, 1.0],
       [98.012665, 2, 3, 25.186038, 55.29175, 0.0, 0.0, 0.0],
       [68.655317, 1, 1, 25.194186, 55.269439, 0.0, 0.0, 2.0],
       [142.606105, 2, 3, 25.145181, 55.288017, 0.0, 0.0, 1.0],
       [377.929404, 4, 6, 25.226946, 55.343628, 0.0, 0.0, 1.0],
       [77.574005, 1, 2, 25.04866, 55.20955, 0.0, 0.0, 3.0],
       [134.430641, 2, 2, 25.194935, 55.282665, 0.0, 0.0, 1.0],
       [124.118408, 2, 2, 25.090953, 55.16954200000001, 0.0, 0.0, 1.0],
       [210.88981, 3, 4, 25.20179, 55.261734, 0.0, 0.0, 1.0],
       [99.684919, 2, 2, 25.078148, 55.148277, 0.0, 0.0, 2.0],
       [110.926182, 2, 3, 25.051528, 55.212972, 0.0, 0.0, 2.0],
       [112.41263, 2, 3, 25.079966, 55.139082, 0.0, 0.0, 2.0],
       [120.402288, 2, 2, 25.109367, 55.247980000000005, 0.0, 0.0, 1.0],
       [170.569908, 2, 2, 25.207533, 55.277978, 0.0, 0.0, 2.0],
       [111.4836, 2, 2, 25.109367, 55.247980000000005, 0.0, 0.0, 2.0],
       [69.491444, 1, 2, 25.088728, 55.17331, 0.0, 0.0, 2.0],
       [84.170118, 1, 2, 25.108627, 55.178031, 0.0, 0.0, 1.0],
       [113.434563, 2, 3, 25.190275, 55.278378, 0.0, 0.0, 1.0],
       [76.923684, 1, 2, 25.078353, 55.158801, 0.0, 0.0, 1.0],
       [187.942769, 3, 3, 25.201718, 55.270983, 0.0, 0.0, 2.0],
       [54.998576, 1, 1, 25.06873, 55.128758, 0.0, 0.0, 2.0],
       [152.918338, 2, 3, 25.106809, 55.151201, 0.0, 0.0, 1.0],
       [161.093802, 2, 4, 25.205218, 55.262688, 0.0, 0.0, 2.0],
       [126.440983, 2, 3, 25.049772, 55.204243000000005, 0.0, 0.0, 2.0],
       [189.057605, 3, 4, 25.078492, 55.15864200000001, 0.0, 0.0, 2.0],
       [141.677075, 2, 2, 25.013504, 55.254337, 0.0, 0.0, 1.0],
       [106.188129, 2, 3, 25.203844, 55.34419499999999, 0.0, 0.0, 2.0],
       [43.478604, 0, 1, 25.065872, 55.232983, 0.0, 0.0, 2.0],
       [94.017836, 2, 3, 25.038808, 55.20499, 0.0, 0.0, 2.0],
       [59.45792, 1, 2, 25.072569, 55.126527, 0.0, 0.0, 2.0],
       [73.950788, 1, 2, 25.194282, 55.27886899999999, 0.0, 0.0, 2.0],
       [263.84452, 4, 5, 25.200879, 55.276331000000006, 0.0, 0.0, 2.0],
       [83.148185, 2, 3, 25.04866, 55.20955, 0.0, 0.0, 2.0],
       [68.934026, 1, 2, 25.171461, 55.2758, 0.0, 0.0, 2.0],
       [119.473258, 2, 2, 25.090455, 55.174096, 0.0, 0.0, 1.0],
       [110.740376, 2, 2, 25.090136, 55.150381, 0.0, 0.0, 2.0],
       [70.048862, 1, 1, 25.088533, 55.171838, 0.0, 0.0, 1.0],
       [376.535859, 3, 3, 25.113366, 55.13609, 0.0, 0.0, 1.0],
       [142.977717, 2, 2, 25.191719, 55.270677, 0.0, 0.0, 2.0],
       [126.812595, 2, 2, 25.191527, 55.274545, 0.0, 0.0, 2.0],
       [29.171542, 0, 1, 25.112193, 55.138635, 0.0, 0.0, 2.0],
       [82.033349, 2, 2, 25.01551, 55.283111, 0.0, 0.0, 2.0],
       [49.424396, 0, 1, 25.080143, 55.152381000000005, 0.0, 0.0, 1.0],
       [201.785316, 3, 3, 25.090009, 55.146294, 0.0, 0.0, 2.0],
       [90.580425, 1, 2, 25.087147, 55.14668100000001, 0.0, 0.0, 2.0],
       [35.767655, 0, 1, 25.066791, 55.203684, 0.0, 0.0, 2.0],
       [81.75464, 1, 1, 25.191107, 55.26991, 0.0, 0.0, 1.0],
       [82.962379, 1, 1, 25.211032, 55.28205, 0.0, 0.0, 2.0],
       [73.950788, 1, 1, 25.06031, 55.241403000000005, 0.0, 0.0, 0.0],
       [72.092728, 1, 2, 25.029767, 55.206417, 0.0, 0.0, 2.0],
       [137.031925, 2, 3, 25.125472, 55.153066, 0.0, 0.0, 2.0],
       [107.024256, 2, 2, 25.069288, 55.139396, 0.0, 0.0, 1.0],
       [94.76106, 1, 1, 25.199782, 55.277662, 0.0, 0.0, 2.0],
       [92.903, 1, 2, 25.046409, 55.246264, 0.0, 0.0, 1.0],
       [218.507856, 2, 2, 25.071448, 55.131088, 0.0, 0.0, 1.0],
       [73.672079, 2, 2, 25.177819, 55.308533, 0.0, 0.0, 2.0],
       [129.599685, 1, 2, 25.189282, 55.28915799999999, 0.0, 0.0, 2.0],
       [70.420474, 1, 2, 25.158305, 55.296535, 0.0, 0.0, 2.0],
       [135.359671, 2, 3, 25.178369, 55.312595, 0.0, 0.0, 2.0],
       [66.239839, 0, 1, 25.180869, 55.271015000000006, 0.0, 0.0, 2.0],
       [182.740201, 3, 3, 25.185823000000003, 55.291922, 0.0, 0.0, 1.0],
       [202.900152, 3, 5, 25.200879, 55.276331000000006, 0.0, 1.0, 0.0],
       [130.250006, 2, 3, 25.080327, 55.13821899999999, 0.0, 0.0, 2.0],
       [119.008743, 2, 3, 25.072375, 55.136286, 0.0, 0.0, 2.0],
       [211.725937, 3, 3, 25.110525, 55.135714, 0.0, 0.0, 2.0],
       [54.998576, 1, 1, 25.068586, 55.12905799999999, 0.0, 0.0, 2.0],
       [80.268192, 1, 2, 25.183133, 55.25658000000001, 0.0, 0.0, 2.0],
       [52.118583, 0, 1, 25.226946, 55.343628, 0.0, 0.0, 1.0],
       [126.905498, 2, 3, 25.073778, 55.132888, 0.0, 0.0, 2.0],
       [103.772651, 1, 2, 25.079247, 55.119736, 0.0, 0.0, 2.0],
       [239.968449, 3, 4, 25.195236, 55.268641, 0.0, 0.0, 2.0],
       [186.456321, 3, 4, 25.240419, 55.25277, 0.0, 0.0, 1.0],
       [97.455247, 2, 3, 25.196592000000003, 55.284124, 0.0, 0.0, 1.0],
       [128.020334, 2, 3, 0.0, 25.078148, 0.0, 0.0, 55.148277]],
      dtype=object)

In [106]:
x_new

size_in_m_2              128.020334
no_of_bedrooms                    2
no_of_bathrooms                   3
quality_recode                  0.0
latitude                  25.078148
private_garden_recode           0.0
private_pool_recode             0.0
longitude                 55.148277
Name: 1525, dtype: object

In [100]:
X_prueba_pandas.iloc[:,3].max()

25.240419

In [101]:
X_prueba_pandas.iloc[:,3].min()

24.946417

In [105]:
X_prueba_pandas

,size_in_m_2,no_of_bedrooms,no_of_bathrooms,latitude,longitude,private_garden_recode,private_pool_recode,quality_recode
0,337.981114,4,3,25.07359,55.126352,0.0,0.0,2.0
1,214.977542,2,2,25.073778,55.132888,0.0,0.0,2.0
2,167.875721,3,3,25.072954,55.128089,0.0,0.0,2.0
3,66.425645,1,1,25.111535,55.36568,0.0,0.0,2.0
4,47.937948,0,1,24.946417,55.211718,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...
96,103.772651,1,2,25.079247,55.119736,0.0,0.0,2.0
97,239.968449,3,4,25.195236,55.268641,0.0,0.0,2.0
98,186.456321,3,4,25.240419,55.25277,0.0,0.0,1.0
99,97.455247,2,3,25.196592,55.284124,0.0,0.0,1.0
100,128.020334,2,3,25.078148,55.148277,0.0,0.0,0.0

In [98]:
G_pandas(3, X_prueba_pandas)

0.294001999999999

In [ ]:

G_vector = np.repeat(0.5, p1)

for r in range(0, p1):

        G_vector[r] = G(r, X)

In [24]:
def Dist_Gower_Py_Pandas(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_PANDAS(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)

In [25]:
def Dist_Gower_Py_Numpy(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_Numpy(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)

In [6]:
import pandas as pd
import numpy as np

In [124]:
House_Prices_Data = pd.read_csv('House_Price_Regression.csv')

House_Prices_Data = House_Prices_Data.loc[:, ['price', 'size_in_m_2', 'no_of_bedrooms', 'no_of_bathrooms', 'quality_recode', 'latitude', 'private_garden_recode', 'private_pool_recode', 'longitude']]

House_Prices_Data['quality_recode'] = House_Prices_Data['quality_recode'].astype('object')
House_Prices_Data['private_garden_recode'] = House_Prices_Data['private_garden_recode'].astype('object')
House_Prices_Data['private_pool_recode'] = House_Prices_Data['private_pool_recode'].astype('object')

House_Prices_Data = House_Prices_Data.rename({'price': 'Y'}, axis=1)

Data_Houses_Prices_Train = House_Prices_Data.sample(frac=0.8, replace=False, weights=None, random_state=555, axis=None, ignore_index=True)

Data_Houses_Prices_Test = House_Prices_Data.drop( Data_Houses_Prices_Train.index , )

X_test = Data_Houses_Prices_Test.loc[: , ['size_in_m_2', 'no_of_bedrooms', 'no_of_bathrooms','latitude', 'longitude', 'private_garden_recode', 'private_pool_recode',  'quality_recode']]

Y_test = Data_Houses_Prices_Test.loc[: , 'Y']

X_train = Data_Houses_Prices_Train.loc[: , ['size_in_m_2', 'no_of_bedrooms', 'no_of_bathrooms','latitude', 'longitude', 'private_garden_recode', 'private_pool_recode',  'quality_recode']]

Y_train = Data_Houses_Prices_Train.loc[: , 'Y']

In [126]:
x_new = X_test.iloc[1 , range(0, X_test.shape[1])]

In [127]:
x_new

size_in_m_2              128.020334
no_of_bedrooms                    2
no_of_bathrooms                   3
latitude                  25.078148
longitude                 55.148277
private_garden_recode           0.0
private_pool_recode             0.0
quality_recode                  0.0
Name: 1525, dtype: object

In [113]:
X_train_small = X_train.iloc[0:100]
Y_train_small = Y_train.iloc[0:100]

In [114]:
X_train_small_Numpy = X_train_small.to_numpy()

In [115]:

Y_train_small_Numpy = Y_train_small.to_numpy()

In [132]:
Gower_Similarity_Numpy(2,3, X_train_small_Numpy, 5, 2, 1)

0.8987714642799416

In [133]:
Gower_Similarity_PANDAS(2,3, X_train_small, 5, 2, 1)

0.8987714642799416

In [134]:
X_prueba_pandas =  pd.concat([X_train_small , x_new.to_frame().T], ignore_index=True)

In [135]:
X_prueba_pandas

,size_in_m_2,no_of_bedrooms,no_of_bathrooms,latitude,longitude,private_garden_recode,private_pool_recode,quality_recode
0,337.981114,4,3,25.07359,55.126352,0.0,0.0,2.0
1,214.977542,2,2,25.073778,55.132888,0.0,0.0,2.0
2,167.875721,3,3,25.072954,55.128089,0.0,0.0,2.0
3,66.425645,1,1,25.111535,55.36568,0.0,0.0,2.0
4,47.937948,0,1,24.946417,55.211718,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...
96,103.772651,1,2,25.079247,55.119736,0.0,0.0,2.0
97,239.968449,3,4,25.195236,55.268641,0.0,0.0,2.0
98,186.456321,3,4,25.240419,55.25277,0.0,0.0,1.0
99,97.455247,2,3,25.196592,55.284124,0.0,0.0,1.0
100,128.020334,2,3,25.078148,55.148277,0.0,0.0,0.0

In [148]:
Gower_Similarity_PANDAS(len(X_prueba_pandas), 96 , X_prueba_pandas, 5, 2, 1)

0.8198947351372596

In [149]:
Dist_Gower_Py_Pandas(len(X_prueba_pandas), 96, X_prueba_pandas , 5, 2, 1)

0.4243881064105595

In [128]:
X_prueba_numpy = np.concatenate((X_train_small_Numpy, [x_new ]), axis=0)

In [147]:
Gower_Similarity_Numpy(len(X_prueba_numpy), 96 , X_prueba_numpy, 5, 2, 1)

0.8198947351372596

In [150]:
Dist_Gower_Py_Numpy(len(X_prueba_numpy), 96, X_prueba_numpy , 5, 2, 1)

0.4243881064105595

In [81]:
Gower_Similarity_Numpy(5, 3 , X_prueba_numpy, 5, 2, 1)

0.749720953674506

In [82]:
Gower_Similarity_PANDAS(5, 3 , X_prueba_pandas, 5, 2, 1)

0.6226120730224424

In [151]:
def KNN_regression_Parallel_Numpy( X , Y , x_new, k, distance, p1=0, p2=0, p3=0 ):

##########################################################################################################

## Para paralelizar el algoritmo 

    from joblib import Parallel, delayed
    import multiprocessing

    n_jobs  = multiprocessing.cpu_count()

####################################################################################################################################################################################################################################################

    # Y, X y x_new deben ser objetos Pandas ya que luego seran convertidos a objetos Numpy automaticamente por el algoritmo
    
    # Y tiene que ser un Pandas data frame con la variable respuesta 

    # X tiene que ser un Pandas data frame con los predictotres (X1,...,Xp). 

    # x_new tiene que ser un vector con una nueva observacion de los predictores. 

####################################################################################################################################################################################################################################################

    Y = Y.to_numpy()

    X = X.to_numpy() 

    x_new = x_new.to_numpy()

    X = np.concatenate((X, [x_new]), axis=0)


    distances = []

    Y_values_knn = []


####################################################################################################################################################################################################################################################
    
    
    
    if distance == "Gower":

        # The data matrix X have to be order in the following way:
        # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.


        def a(Binary_Data) :

            X = Binary_Data

            a = X @ X.T

            return(a)

##########################################################################################

        def d(Binary_Data):

            X = Binary_Data

            ones_matrix = np.ones(( X.shape[0] , X.shape[1])) 

            d = (ones_matrix - X) @ (ones_matrix - X).T

            return(d)

##########################################################################################

        def alpha_py(i,j, Multiple_Categorical_Data):

            X = Multiple_Categorical_Data

            alpha = np.repeat(0, X.shape[1])

            def argumento_bucle_for(k):

                if X[i-1, k] == X[j-1, k] :

                    alpha[k] = 1

                else :

                    alpha[k] = 0

                return(alpha) 
    
            alpha=Parallel(n_jobs=n_jobs)( delayed(argumento_bucle_for)( k ) for k in range(0, X.shape[1]) )
    
            alpha = sum(alpha)

            return(alpha)

##########################################################################################

        def Gower_Similarity_Python(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

   # The data matrix X have to be order in the following way:
   # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.

   #####################################################################################
        
            def G(k, X):

                range = X[:,k].max() - X[:,k].min() 

                return(range)

            G_vector = np.repeat(0.5, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
                
      
    ##########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X[: , 0:p1]

            Binary_Data = X[: , (p1):(p1+p2)]
            
            Multiple_Categorical_Data = X[: , (p1+p2):(p1+p2+p3) ]

    ##########################################################################################

            numerator_part_1 = ( ones - ( abs(Quantitative_Data[i-1,:] - Quantitative_Data[j-1,:]) / G_vector ) ).sum() 

            numerator_part_2 = a(Binary_Data)[i-1,j-1] + alpha_py(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2
 
            denominator = p1 + (p2 - d(Binary_Data)[i-1,j-1]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)
  
##########################################################################################

        def Dist_Gower_Py(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_Python(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)    

    ###################################################################

    ## PARTE DEL CODIGO A PARALELIZAR

        #for j in range(1, len(X)):

          #distances.append( Dist_Gower_Py( len(X), j , X, p1, p2, p3) )

        n_jobs  = multiprocessing.cpu_count()

        distances = Parallel(n_jobs=n_jobs)( delayed(Dist_Gower_Py)( len(X), s , X, p1, p2, p3) for s in range(1, len(X)) )

######################################################################################################################################
    
    distances = pd.DataFrame({'distances': distances})

    distances = distances.sort_values(by=["distances"]).reset_index(drop=False)
        
    knn = distances.iloc[0:k , :]

    for i in knn.iloc[:,0]:

        Y_values_knn.append(Y[i, ])


    y_predict = sum(Y_values_knn)/k

                                     
    return y_predict  , distances

In [152]:
y_predict  , distances = KNN_regression_Parallel_Numpy( X=X_train_small , Y=Y_train_small , x_new=x_new, k=10, distance="Gower", p1=5, p2=2, p3=1 )

In [153]:
y_predict

1526288.8

In [154]:
distances

    index              distances
0      21   [0.2587138029633777]
1      28  [0.41560562680697666]
2      89   [0.4192652667104365]
3      95   [0.4243881064105595]
4      38     [0.42589561616225]
..    ...                    ...
95      4   [0.6874630024733788]
96     86   [0.6982814288066614]
97     58   [0.7334352997561012]
98     94   [0.7547667737679794]
99     31   [0.8283489368017483]

[100 rows x 2 columns]

In [59]:
def KNN_regression_Parallel_Pandas( X , Y , x_new, k, distance  , p1=0, p2=0, p3=0 ):

##########################################################################################################

## Para paralelizar el algoritmo 

    from joblib import Parallel, delayed
    import multiprocessing

####################################################################################################################################################################################################################################################

    # Y tiene que ser una variable respuesta cuantitativa

    # X tiene que ser un panda data frame con los predictotres (X1,...,Xp). 

    # x_new tiene que ser un vector. 

####################################################################################################################################################################################################################################################

    X  = pd.concat([X , x_new.to_frame().T], ignore_index=True)
 
    distances = []
    Y_values_knn = []

####################################################################################################################################################################################################################################################
    
    
    
    if distance == "Gower":

        # The data matrix X have to be order in the following way:
        # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.


        def a(Binary_Data) :

            X = Binary_Data

            a = X @ X.T

            return(a)

##########################################################################################

        def d(Binary_Data):

            X = Binary_Data

            ones_matrix = np.ones(( X.shape[0] , X.shape[1])) 

            d = (ones_matrix - X) @ (ones_matrix - X).T

            return(d)

##########################################################################################

        def alpha_py(i,j, Multiple_Categorical_Data):

                X = Multiple_Categorical_Data

                alpha = np.repeat(0, X.shape[1])

                for k in range(0, X.shape[1]) :

                    if X.iloc[i-1, k] == X.iloc[j-1, k] :

                        alpha[k] = 1

                    else :

                        alpha[k] = 0


                alpha = alpha.sum()

                return(alpha)

   ##########################################################################################


        def Gower_Similarity_Python(i,j, Mixed_Data_Set, p1, p2, p3):

            X = Mixed_Data_Set

   # The data matrix X have to be order in the following way:
   # The p1 first are quantitative, the following p2 are binary categorical, and the following p3 are multiple categorical.

   #####################################################################################
        
            def G(k, X):

                range = X.iloc[:,k].max() - X.iloc[:,k].min() 

                return(range)

            G_vector = np.repeat(0.5, p1)

            for r in range(0, p1):

                G_vector[r] = G(r, X)
                
      
    ##########################################################################################
    
            ones = np.repeat(1, p1)

            Quantitative_Data = X.iloc[: , 0:p1]

            Binary_Data = X.iloc[: , (p1):(p1+p2)]
            
            Multiple_Categorical_Data = X.iloc[: , (p1+p2):(p1+p2+p3) ]

    ##########################################################################################

            numerator_part_1 = ( ones - ( (Quantitative_Data.iloc[i-1,:] - Quantitative_Data.iloc[j-1,:]).abs() / G_vector ) ).sum() 

            numerator_part_2 = a(Binary_Data).iloc[i-1,j-1] + alpha_py(i,j, Multiple_Categorical_Data)

            numerator = numerator_part_1 + numerator_part_2
 
            denominator = p1 + (p2 - d(Binary_Data).iloc[i-1,j-1]) + p3

            Similarity_Gower = numerator / denominator  

            return(Similarity_Gower)

##########################################################################################

        def Dist_Gower_Py(i, j, Mixed_Data , p1, p2, p3):

            Dist_Gower = np.sqrt( 1 - Gower_Similarity_Python(i, j, Mixed_Data , p1, p2, p3) )

            return(Dist_Gower)    

    ###################################################################

    ## PARTE DEL CODIGO A PARALELIZAR

        # for i in range(1, len(X)):

            # distances.append( Dist_Gower_Py( len(X), i , X, p1, p2, p3) )


        n_jobs  = multiprocessing.cpu_count()

        distances = Parallel(n_jobs=n_jobs)( delayed(Dist_Gower_Py)( len(X), s , X, p1, p2, p3) for s in range(1, len(X)) )

######################################################################################################################################
    

    distances = pd.DataFrame({'distances': distances})

    distances = distances.sort_values(by=["distances"]).reset_index(drop=False)
        
    knn = distances.iloc[0:k , :]

    for i in knn.iloc[:,0]:

        Y_values_knn.append(Y.iloc[i , ])


    y_predict = sum(Y_values_knn)/k


                                     
    return y_predict  , distances

In [155]:
y_predict  , distances = KNN_regression_Parallel_Pandas( X=X_train_small , Y=Y_train_small , x_new=x_new, k=10, distance="Gower", p1=5, p2=2, p3=1 )

In [156]:
y_predict

1526288.8

In [157]:
distances

    index  distances
0      21   0.258714
1      28   0.415606
2      89   0.419265
3      95   0.424388
4      38   0.425896
..    ...        ...
95      4   0.687463
96     86   0.698281
97     58   0.733435
98     94   0.754767
99     31   0.828349

[100 rows x 2 columns]