**Crear una nueva base de datos:**

In [3]:
USE master
GO
IF NOT EXISTS (
 SELECT name
 FROM sys.databases
 WHERE name = N'Base_Datos_Fabio'
)
 CREATE DATABASE [Base_Datos_Fabio];
GO
IF SERVERPROPERTY('ProductVersion') > '12'
 ALTER DATABASE [Base_Datos_Fabio] SET QUERY_STORE=ON;
GO

**Eliminar una base de datos:**

In [2]:
-- Eliminar una base de datos:

-- Drop the database 'Base_Datos_Fabio'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Uncomment the ALTER DATABASE statement below to set the database to SINGLE_USER mode if the drop database command fails because the database is in use.
ALTER DATABASE Base_Datos_Fabio SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
-- Drop the database if it exists
IF EXISTS (
  SELECT [name]
   FROM sys.databases
   WHERE [name] = N'Base_Datos_Fabio'
)
DROP DATABASE Base_Datos_Fabio
GO

**Crear una tabla:**

In [11]:
-- Create a new table called 'Clientes' in schema 'dbo'
-- Drop the table if it already exists
IF OBJECT_ID('dbo.Clientes', 'U') IS NOT NULL
 DROP TABLE dbo.Clientes;
GO
-- Create the table in the specified schema
CREATE TABLE dbo.Clientes
(
 ClienteId nvarchar(50) NOT NULL PRIMARY KEY, -- primary key column --> impide repeticiones de valores en esta columna
 Nombre char (50) NOT NULL,
 Pais nvarchar(50) NOT NULL,
 Ciudad nvarchar(50) NOT NULL,
 Email nvarchar (50) NOT NULL,
 Telefono  nvarchar (50) NOT NULL
);
GO

In [12]:
IF OBJECT_ID('dbo.Proveedores', 'U') IS NOT NULL
 DROP TABLE dbo.Proveedores;
GO
-- Create the table in the specified schema
CREATE TABLE dbo.Proveedores
(
 ProveedorId nvarchar (50) NOT NULL PRIMARY KEY, -- primary key column
 Nombre nvarchar (50) NOT NULL,
 Email nvarchar(50) NOT NULL,
 Telefono nvarchar (50) NOT NULL
);
GO

In [13]:
IF OBJECT_ID('dbo.Ventas', 'U') IS NOT NULL
 DROP TABLE dbo.Ventas;
GO
-- Create the table in the specified schema
CREATE TABLE dbo.Ventas
(
 VentasId nvarchar (50) NOT NULL PRIMARY KEY, -- primary key column
 Producto char (50) NOT NULL,
 Precio float (50) NOT NULL,
 Cliente nvarchar (50) NOT NULL,
 Proveedor  nvarchar (50) NOT NULL
);
GO

**Insertar filas en una tbla**

In [14]:
-- Insert rows into table 'Clientes'
INSERT INTO dbo.Clientes
 ([ClienteId], [Nombre], [Pais], [Ciudad], [Email], [Telefono])
VALUES
 ( 'C1', N'Orlando', N'Australia', N'', N'' , N'917755028'),
 ( 'C2', N'Keith', N'India', N'', N'keith0@adventure-works.com', N''),
 ( 'C3', N'Donna', N'Germany', N'Berlin', N'donna0@adventure-works.com', N'915547890'),
 ( 'C4', N'Janet', N'United States', N'California',  N'janet1@adventure-works.com', N''),
 ( 'C5', N'Fabio', N'España', N'Madrid', N'fabio10@gmail.com', N''),
 ( 'C6', N'Juan', N'España', N'Sevilla', N'' , N'915869028'),
 ( 'C7', N'Lucia', N'España', N'', N'LuciaPerez@hotmail.com', N''),
 ( 'C8', N'Pedro', N'Italia', N'Roma', N'Pedro99@gmail.com', N'910007890'),
 ( 'C9', N'Sergio', N'United States', N'New York',  N'sergio_as@gmail.com', N''),
 ( 'C10', N'Grecia', N'Peru', N'Lima', N'Grecia89@gmail.com', N'')
GO

-------------------------------------------------------------------------

-- Insert rows into table 'Ventas'
INSERT INTO dbo.Ventas
 ([VentasId], [Producto], [Precio], [Cliente], [Proveedor])
VALUES
 ( 'V1', N'Alfombra', N'1500', N'C1' , N'P1'),
 ( 'V2', N'Killim', N'699.50', N'C3', N'P1'),
 ( 'V3', N'Killim', N'475', N'C9', N'P3'),
  ( 'V4', N'Alfombra', N'5000', N'C4' , N'P1'),
 ( 'V5', N'Killim', N'499.50', N'C8', N'P1'),
 ( 'V6', N'Killim', N'555', N'C5', N'P3'),
 ( 'V7', N'Alfombra', N'2500', N'C2' , N'P1'),
 ( 'V8', N'Killim', N'299.50', N'C10', N'P1'),
 ( 'V9', N'Killim', N'600', N'C2', N'P3'),
 ( 'V10', N'Alfombra', N'1200', N'C7' , N'P1'),
 ( 'V11', N'Killim', N'500', N'C8', N'P1'),
 ( 'V12', N'Killim', N'650', N'C9', N'P3'),
 ( 'V13', N'Alfombra', N'3500', N'C7' , N'P1'),
 ( 'V14', N'Killim', N'1000', N'C6', N'P1'),
 ( 'V15', N'Killim', N'350', N'C10', N'P3')
GO

-------------------------------------------------------------------------

-- Insert rows into table 'Proveedores'
INSERT INTO dbo.Proveedores
 ([ProveedorId], [Nombre], [Email], [Telefono])
VALUES
 ( 'P1', N'Intertrade', N'Intertrade@gmail.com', N'912223344'),
 ( 'P2', N'SaidKarpet', N'SaidKarpet@gmail.com', N'912783794'),
 ( 'P3', N'OrientKillim', N'OrientKillim@gmail.com', N'9100155475')
GO

**Comprobacion de la restricción Not Null**

In [8]:
-- El siguiente codigo sale error porque la columna Nombre ha sido definida como Not Null , por tanto
-- no admite valores NULL , para que los admitiesa deberia haberse definido como Null.
INSERT INTO dbo.Proveedores
 ([ProveedorId], [Nombre], [Email], [Telefono])
VALUES
 ( 'P4' , NULL, N'AlfombrasSA@gmail.com', N'91235344')
GO

: Msg 515, Level 16, State 2, Line 3
No se puede insertar el valor NULL en la columna 'Nombre', tabla 'master.dbo.Proveedores'. La columna no admite valores NULL. Error de INSERT.

**Comprobación de la resstricción Primary Key**

In [9]:
-- Comprobación restriccion Primary Key
INSERT INTO dbo.Proveedores
 ([ProveedorId], [Nombre], [Email], [Telefono])
VALUES
 ( 'P3' , 'AlfombrasSA', N'AlfombrasSA@gmail.com', N'91235344')
GO

: Msg 2627, Level 14, State 1, Line 2
Infracción de la restricción PRIMARY KEY 'PK__Proveedo__61266A59AD387084'. No se puede insertar una clave duplicada en el objeto 'dbo.Proveedores'. El valor de la clave duplicada es (P3).